In [1]:
import numpy as np

In [2]:
import pandas as pd

# load csv

In [3]:
df = pd.read_csv('dataset_7.csv', header= None)
print (df)

                                      0             1      2             3   \
0       2021-08-26 17:47:13.727000+00:00  2.039297e+09   ARI6  1.630000e+09
1       2021-09-30 15:38:42.256000+00:00  3.237341e+09   ARI7  1.633016e+09
2       2021-09-30 15:38:42.399000+00:00  3.128423e+09   ARI1  1.633016e+09
3       2021-09-30 15:38:42.894000+00:00  7.187279e+09   ARI6  1.633016e+09
4       2021-09-30 15:38:42.958000+00:00  7.738464e+09   ARI6  1.633016e+09
...                                  ...           ...    ...           ...
99996   2021-10-01 20:04:11.163000+00:00  7.708154e+09  ARI10  1.633119e+09
99997   2021-10-01 20:04:11.983000+00:00  8.174412e+09   ARI1  1.633119e+09
99998   2021-10-01 20:04:12.014000+00:00  3.177212e+09   ARI1  1.633119e+09
99999   2021-10-01 20:04:12.057000+00:00  8.022658e+09   ARI2  1.633119e+09
100000  2021-10-01 20:04:13.642000+00:00  7.177642e+09   ARI2  1.633119e+09

                                                       4   \
0                 ["number to reach us","simply hang up"]
1                                               ["hello"]
2       ["alright","no im out of the door route to the...
3                                  ["hello","good","yes"]
4       ["hello","yes","sorry","callback back hour wan...
...                                                   ...
99996   ["hello","k well not interested you called eve...
99997   ["please leave your name and phone number afte...
99998   ["is not available please leave a message afte...
99999   ["leave your name and phone number after the b...
100000            ["hello","no i i dont feel good about"]

                                                     5           6   \
0            /NAS/airecordings/ARI6-1630000033.0-in.wav  Unnamed: 6
1        /NAS/airecordings/ARI7-1633016322.11459-in.wav         NaN
2         /NAS/airecordings/ARI1-1633016322.4868-in.wav         NaN
3        /NAS/airecordings/ARI6-1633016322.15248-in.wav         NaN
4        /NAS/airecordings/ARI6-1633016322.15249-in.wav         NaN
...                                                 ...         ...
99996   /NAS/airecordings/ARI10-1633118651.83420-in.wav         NaN
99997    /NAS/airecordings/ARI1-1633118651.88307-in.wav         NaN
99998    /NAS/airecordings/ARI1-1633118652.88308-in.wav         NaN
99999   /NAS/airecordings/ARI2-1633118652.114151-in.wav         NaN
100000  /NAS/airecordings/ARI2-1633118653.114153-in.wav         NaN

                                      7             8     9             10  \
0       2021-10-23 16:45:38.441000+00:00  8.146763e+09  ARI7  1.635008e+09
1                                    NaN           NaN   NaN           NaN
2                                    NaN           NaN   NaN           NaN
3                                    NaN           NaN   NaN           NaN
4                                    NaN           NaN   NaN           NaN
...                                  ...           ...   ...           ...
99996                                NaN           NaN   NaN           NaN
99997                                NaN           NaN   NaN           NaN
99998                                NaN           NaN   NaN           NaN
99999                                NaN           NaN   NaN           NaN
100000                               NaN           NaN   NaN           NaN

               11                                              12  \
0       ["hello"]  /NAS/airecordings/ARI7-1635007538.16453-in.wav
1             NaN                                             NaN
2             NaN                                             NaN
3             NaN                                             NaN
4             NaN                                             NaN
...           ...                                             ...
99996         NaN                                             NaN
99997         NaN                                             NaN
99998         NaN                                             NaN
99999         NaN                                             NaN
100000        NaN                                             NaN

                                                       13  \
0       ARI7-1635007538.16453-in_0.wav,ARI7-1635007538...
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
99996                                                 NaN
99997                                                 NaN
99998                                                 NaN
99999                                                 NaN
100000                                                NaN

                                      14            15    16            17  \
0       2021-10-07 15:33:19.114000+00:00  3.344371e+09  ARI4  1.633621e+09
1                                    NaN           NaN   NaN           NaN
2                                    NaN           NaN   NaN           NaN
3                                    NaN           NaN   NaN           NaN
4                                    NaN           NaN   NaN           NaN
...                                  ...           ...   ...           ...
99996                                NaN           NaN   NaN           NaN
99997                                NaN           NaN   NaN           NaN
99998                                NaN           NaN   NaN           NaN
99999                                NaN           NaN   NaN           NaN
100000                               NaN           NaN   NaN           NaN

             18                                             19
0       ["sec"]  /NAS/airecordings/ARI4-1633620799.7394-in.wav
1           NaN                                            NaN
2           NaN                                            NaN
3           NaN                                            NaN
4           NaN                                            NaN
...         ...                                            ...
99996       NaN                                            NaN
99997       NaN                                            NaN
99998       NaN                                            NaN
99999       NaN                                            NaN
100000      NaN                                            NaN

[100001 rows x 20 columns]

C:\Users\trainee7\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (6,7,9,11,12,13,14,16,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,2021-08-26 17:47:13.727000+00:00,2.039297e+09,ARI6,1.630000e+09,"[""number to reach us"",""simply hang up""]",/NAS/airecordings/ARI6-1630000033.0-in.wav,Unnamed: 6,2021-10-23 16:45:38.441000+00:00,8.146763e+09,ARI7,1.635008e+09,"[""hello""]",/NAS/airecordings/ARI7-1635007538.16453-in.wav,"ARI7-1635007538.16453-in_0.wav,ARI7-1635007538...",2021-10-07 15:33:19.114000+00:00,3.344371e+09,ARI4,1.633621e+09,"[""sec""]",/NAS/airecordings/ARI4-1633620799.7394-in.wav
1,2021-09-30 15:38:42.256000+00:00,3.237341e+09,ARI7,1.633016e+09,"[""hello""]",/NAS/airecordings/ARI7-1633016322.11459-in.wav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-09-30 15:38:42.399000+00:00,3.128423e+09,ARI1,1.633016e+09,"[""alright"",""no im out of the door route to the...",/NAS/airecordings/ARI1-1633016322.4868-in.wav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-09-30 15:38:42.894000+00:00,7.187279e+09,ARI6,1.633016e+09,"[""hello"",""good"",""yes""]",/NAS/airecordings/ARI6-1633016322.15248-in.wav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-09-30 15:38:42.958000+00:00,7.738464e+09,ARI6,1.633016e+09,"[""hello"",""yes"",""sorry"",""callback back hour wan...",/NAS/airecordings/ARI6-1633016322.15249-in.wav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99996,2021-10-01 20:04:11.163000+00:00,7.708154e+09,ARI10,1.633119e+09,"[""hello"",""k well not interested you called eve...",/NAS/airecordings/ARI10-1633118651.83420-in.wav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,2021-10-01 20:04:11.983000+00:00,8.174412e+09,ARI1,1.633119e+09,"[""please leave your name and phone number afte...",/NAS/airecordings/ARI1-1633118651.88307-in.wav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,2021-10-01 20:04:12.014000+00:00,3.177212e+09,ARI1,1.633119e+09,"[""is not available please leave a message afte...",/NAS/airecordings/ARI1-1633118652.88308-in.wav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,2021-10-01 20:04:12.057000+00:00,8.022658e+09,ARI2,1.633119e+09,"[""leave your name and phone number after the b...",/NAS/airecordings/ARI2-1633118652.114151-in.wav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100000,2021-10-01 20:04:13.642000+00:00,7.177642e+09,ARI2,1.633119e+09,"[""hello"",""no i i dont feel good about""]",/NAS/airecordings/ARI2-1633118653.114153-in.wav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.dtypes

0      object
1     float64
2      object
3     float64
4      object
5      object
6      object
7      object
8     float64
9      object
10    float64
11     object
12     object
13     object
14     object
15    float64
16     object
17    float64
18     object
19     object
dtype: object

# drop extra column

In [6]:
df.drop(df.columns[5:20], axis=1, inplace=True)

In [7]:
df

,0,1,2,3,4
0,2021-08-26 17:47:13.727000+00:00,2.039297e+09,ARI6,1.630000e+09,"[""number to reach us"",""simply hang up""]"
1,2021-09-30 15:38:42.256000+00:00,3.237341e+09,ARI7,1.633016e+09,"[""hello""]"
2,2021-09-30 15:38:42.399000+00:00,3.128423e+09,ARI1,1.633016e+09,"[""alright"",""no im out of the door route to the..."
3,2021-09-30 15:38:42.894000+00:00,7.187279e+09,ARI6,1.633016e+09,"[""hello"",""good"",""yes""]"
4,2021-09-30 15:38:42.958000+00:00,7.738464e+09,ARI6,1.633016e+09,"[""hello"",""yes"",""sorry"",""callback back hour wan..."
...,...,...,...,...,...
99996,2021-10-01 20:04:11.163000+00:00,7.708154e+09,ARI10,1.633119e+09,"[""hello"",""k well not interested you called eve..."
99997,2021-10-01 20:04:11.983000+00:00,8.174412e+09,ARI1,1.633119e+09,"[""please leave your name and phone number afte..."
99998,2021-10-01 20:04:12.014000+00:00,3.177212e+09,ARI1,1.633119e+09,"[""is not available please leave a message afte..."
99999,2021-10-01 20:04:12.057000+00:00,8.022658e+09,ARI2,1.633119e+09,"[""leave your name and phone number after the b..."
100000,2021-10-01 20:04:13.642000+00:00,7.177642e+09,ARI2,1.633119e+09,"[""hello"",""no i i dont feel good about""]"

In [8]:
df.rename(columns={'0': 'data.timestamp'})

,0,1,2,3,4
0,2021-08-26 17:47:13.727000+00:00,2.039297e+09,ARI6,1.630000e+09,"[""number to reach us"",""simply hang up""]"
1,2021-09-30 15:38:42.256000+00:00,3.237341e+09,ARI7,1.633016e+09,"[""hello""]"
2,2021-09-30 15:38:42.399000+00:00,3.128423e+09,ARI1,1.633016e+09,"[""alright"",""no im out of the door route to the..."
3,2021-09-30 15:38:42.894000+00:00,7.187279e+09,ARI6,1.633016e+09,"[""hello"",""good"",""yes""]"
4,2021-09-30 15:38:42.958000+00:00,7.738464e+09,ARI6,1.633016e+09,"[""hello"",""yes"",""sorry"",""callback back hour wan..."
...,...,...,...,...,...
99996,2021-10-01 20:04:11.163000+00:00,7.708154e+09,ARI10,1.633119e+09,"[""hello"",""k well not interested you called eve..."
99997,2021-10-01 20:04:11.983000+00:00,8.174412e+09,ARI1,1.633119e+09,"[""please leave your name and phone number afte..."
99998,2021-10-01 20:04:12.014000+00:00,3.177212e+09,ARI1,1.633119e+09,"[""is not available please leave a message afte..."
99999,2021-10-01 20:04:12.057000+00:00,8.022658e+09,ARI2,1.633119e+09,"[""leave your name and phone number after the b..."
100000,2021-10-01 20:04:13.642000+00:00,7.177642e+09,ARI2,1.633119e+09,"[""hello"",""no i i dont feel good about""]"

# add columns name

In [9]:
df.columns=['data.timestamp','data.number','data.application','data.id', 'data.rawTranscriptions']
df

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions
0,2021-08-26 17:47:13.727000+00:00,2.039297e+09,ARI6,1.630000e+09,"[""number to reach us"",""simply hang up""]"
1,2021-09-30 15:38:42.256000+00:00,3.237341e+09,ARI7,1.633016e+09,"[""hello""]"
2,2021-09-30 15:38:42.399000+00:00,3.128423e+09,ARI1,1.633016e+09,"[""alright"",""no im out of the door route to the..."
3,2021-09-30 15:38:42.894000+00:00,7.187279e+09,ARI6,1.633016e+09,"[""hello"",""good"",""yes""]"
4,2021-09-30 15:38:42.958000+00:00,7.738464e+09,ARI6,1.633016e+09,"[""hello"",""yes"",""sorry"",""callback back hour wan..."
...,...,...,...,...,...
99996,2021-10-01 20:04:11.163000+00:00,7.708154e+09,ARI10,1.633119e+09,"[""hello"",""k well not interested you called eve..."
99997,2021-10-01 20:04:11.983000+00:00,8.174412e+09,ARI1,1.633119e+09,"[""please leave your name and phone number afte..."
99998,2021-10-01 20:04:12.014000+00:00,3.177212e+09,ARI1,1.633119e+09,"[""is not available please leave a message afte..."
99999,2021-10-01 20:04:12.057000+00:00,8.022658e+09,ARI2,1.633119e+09,"[""leave your name and phone number after the b..."
100000,2021-10-01 20:04:13.642000+00:00,7.177642e+09,ARI2,1.633119e+09,"[""hello"",""no i i dont feel good about""]"

In [10]:
df.head(5)

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions
0,2021-08-26 17:47:13.727000+00:00,2.039297e+09,ARI6,1.630000e+09,"[""number to reach us"",""simply hang up""]"
1,2021-09-30 15:38:42.256000+00:00,3.237341e+09,ARI7,1.633016e+09,"[""hello""]"
2,2021-09-30 15:38:42.399000+00:00,3.128423e+09,ARI1,1.633016e+09,"[""alright"",""no im out of the door route to the..."
3,2021-09-30 15:38:42.894000+00:00,7.187279e+09,ARI6,1.633016e+09,"[""hello"",""good"",""yes""]"
4,2021-09-30 15:38:42.958000+00:00,7.738464e+09,ARI6,1.633016e+09,"[""hello"",""yes"",""sorry"",""callback back hour wan..."

In [11]:
df['data.rawTranscriptions'][1]

'["hello"]'

In [12]:
df['data.rawTranscriptions'][0]

'["number to reach us","simply hang up"]'

In [13]:
import json

In [14]:
df['data.rawTranscriptions'] = df['data.rawTranscriptions'].apply(lambda x: json.loads(x))

In [15]:
df

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions
0,2021-08-26 17:47:13.727000+00:00,2.039297e+09,ARI6,1.630000e+09,"[number to reach us, simply hang up]"
1,2021-09-30 15:38:42.256000+00:00,3.237341e+09,ARI7,1.633016e+09,[hello]
2,2021-09-30 15:38:42.399000+00:00,3.128423e+09,ARI1,1.633016e+09,"[alright, no im out of the door route to the d..."
3,2021-09-30 15:38:42.894000+00:00,7.187279e+09,ARI6,1.633016e+09,"[hello, good, yes]"
4,2021-09-30 15:38:42.958000+00:00,7.738464e+09,ARI6,1.633016e+09,"[hello, yes, sorry, callback back hour want so..."
...,...,...,...,...,...
99996,2021-10-01 20:04:11.163000+00:00,7.708154e+09,ARI10,1.633119e+09,"[hello, k well not interested you called every..."
99997,2021-10-01 20:04:11.983000+00:00,8.174412e+09,ARI1,1.633119e+09,[please leave your name and phone number after...
99998,2021-10-01 20:04:12.014000+00:00,3.177212e+09,ARI1,1.633119e+09,[is not available please leave a message after...
99999,2021-10-01 20:04:12.057000+00:00,8.022658e+09,ARI2,1.633119e+09,[leave your name and phone number after the beep]
100000,2021-10-01 20:04:13.642000+00:00,7.177642e+09,ARI2,1.633119e+09,"[hello, no i i dont feel good about]"

In [16]:
data=df.explode('data.rawTranscriptions')

In [17]:
data

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions
0,2021-08-26 17:47:13.727000+00:00,2.039297e+09,ARI6,1.630000e+09,number to reach us
0,2021-08-26 17:47:13.727000+00:00,2.039297e+09,ARI6,1.630000e+09,simply hang up
1,2021-09-30 15:38:42.256000+00:00,3.237341e+09,ARI7,1.633016e+09,hello
2,2021-09-30 15:38:42.399000+00:00,3.128423e+09,ARI1,1.633016e+09,alright
2,2021-09-30 15:38:42.399000+00:00,3.128423e+09,ARI1,1.633016e+09,no im out of the door route to the doctor righ...
...,...,...,...,...,...
99997,2021-10-01 20:04:11.983000+00:00,8.174412e+09,ARI1,1.633119e+09,please leave your name and phone number after ...
99998,2021-10-01 20:04:12.014000+00:00,3.177212e+09,ARI1,1.633119e+09,is not available please leave a message after ...
99999,2021-10-01 20:04:12.057000+00:00,8.022658e+09,ARI2,1.633119e+09,leave your name and phone number after the beep
100000,2021-10-01 20:04:13.642000+00:00,7.177642e+09,ARI2,1.633119e+09,hello
100000,2021-10-01 20:04:13.642000+00:00,7.177642e+09,ARI2,1.633119e+09,no i i dont feel good about

In [18]:
data['data.number']=data['data.number'].astype(int)

In [19]:
data

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1.630000e+09,number to reach us
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1.630000e+09,simply hang up
1,2021-09-30 15:38:42.256000+00:00,-2147483648,ARI7,1.633016e+09,hello
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1.633016e+09,alright
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1.633016e+09,no im out of the door route to the doctor righ...
...,...,...,...,...,...
99997,2021-10-01 20:04:11.983000+00:00,-2147483648,ARI1,1.633119e+09,please leave your name and phone number after ...
99998,2021-10-01 20:04:12.014000+00:00,-2147483648,ARI1,1.633119e+09,is not available please leave a message after ...
99999,2021-10-01 20:04:12.057000+00:00,-2147483648,ARI2,1.633119e+09,leave your name and phone number after the beep
100000,2021-10-01 20:04:13.642000+00:00,-2147483648,ARI2,1.633119e+09,hello
100000,2021-10-01 20:04:13.642000+00:00,-2147483648,ARI2,1.633119e+09,no i i dont feel good about

In [20]:
data['data.id']=data['data.id'].astype(int)

In [21]:
data

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1630000033,number to reach us
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1630000033,simply hang up
1,2021-09-30 15:38:42.256000+00:00,-2147483648,ARI7,1633016322,hello
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1633016322,alright
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1633016322,no im out of the door route to the doctor righ...
...,...,...,...,...,...
99997,2021-10-01 20:04:11.983000+00:00,-2147483648,ARI1,1633118651,please leave your name and phone number after ...
99998,2021-10-01 20:04:12.014000+00:00,-2147483648,ARI1,1633118652,is not available please leave a message after ...
99999,2021-10-01 20:04:12.057000+00:00,-2147483648,ARI2,1633118652,leave your name and phone number after the beep
100000,2021-10-01 20:04:13.642000+00:00,-2147483648,ARI2,1633118653,hello
100000,2021-10-01 20:04:13.642000+00:00,-2147483648,ARI2,1633118653,no i i dont feel good about

In [22]:
data["audioname"] = data["data.application"].astype(str)+'-' + data["data.id"].astype(str)+'-in.wav'

In [23]:
data

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions,audioname
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1630000033,number to reach us,ARI6-1630000033-in.wav
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1630000033,simply hang up,ARI6-1630000033-in.wav
1,2021-09-30 15:38:42.256000+00:00,-2147483648,ARI7,1633016322,hello,ARI7-1633016322-in.wav
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1633016322,alright,ARI1-1633016322-in.wav
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1633016322,no im out of the door route to the doctor righ...,ARI1-1633016322-in.wav
...,...,...,...,...,...,...
99997,2021-10-01 20:04:11.983000+00:00,-2147483648,ARI1,1633118651,please leave your name and phone number after ...,ARI1-1633118651-in.wav
99998,2021-10-01 20:04:12.014000+00:00,-2147483648,ARI1,1633118652,is not available please leave a message after ...,ARI1-1633118652-in.wav
99999,2021-10-01 20:04:12.057000+00:00,-2147483648,ARI2,1633118652,leave your name and phone number after the beep,ARI2-1633118652-in.wav
100000,2021-10-01 20:04:13.642000+00:00,-2147483648,ARI2,1633118653,hello,ARI2-1633118653-in.wav
100000,2021-10-01 20:04:13.642000+00:00,-2147483648,ARI2,1633118653,no i i dont feel good about,ARI2-1633118653-in.wav

In [24]:
data.head(5)

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions,audioname
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1630000033,number to reach us,ARI6-1630000033-in.wav
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1630000033,simply hang up,ARI6-1630000033-in.wav
1,2021-09-30 15:38:42.256000+00:00,-2147483648,ARI7,1633016322,hello,ARI7-1633016322-in.wav
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1633016322,alright,ARI1-1633016322-in.wav
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1633016322,no im out of the door route to the doctor righ...,ARI1-1633016322-in.wav

In [25]:
# chunkname

In [26]:
chunk_name = []
def chunk(x):
    for num,val in enumerate(x):
        chunk_name.append(str(num+1))

In [27]:
df["data.rawTranscriptions"].apply(chunk)

0         None
1         None
2         None
3         None
4         None
          ...
99996     None
99997     None
99998     None
99999     None
100000    None
Name: data.rawTranscriptions, Length: 100001, dtype: object

In [28]:
chunk_name[0:10]

['1', '2', '1', '1', '2', '1', '2', '3', '1', '2']

In [29]:
df

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions
0,2021-08-26 17:47:13.727000+00:00,2.039297e+09,ARI6,1.630000e+09,"[number to reach us, simply hang up]"
1,2021-09-30 15:38:42.256000+00:00,3.237341e+09,ARI7,1.633016e+09,[hello]
2,2021-09-30 15:38:42.399000+00:00,3.128423e+09,ARI1,1.633016e+09,"[alright, no im out of the door route to the d..."
3,2021-09-30 15:38:42.894000+00:00,7.187279e+09,ARI6,1.633016e+09,"[hello, good, yes]"
4,2021-09-30 15:38:42.958000+00:00,7.738464e+09,ARI6,1.633016e+09,"[hello, yes, sorry, callback back hour want so..."
...,...,...,...,...,...
99996,2021-10-01 20:04:11.163000+00:00,7.708154e+09,ARI10,1.633119e+09,"[hello, k well not interested you called every..."
99997,2021-10-01 20:04:11.983000+00:00,8.174412e+09,ARI1,1.633119e+09,[please leave your name and phone number after...
99998,2021-10-01 20:04:12.014000+00:00,3.177212e+09,ARI1,1.633119e+09,[is not available please leave a message after...
99999,2021-10-01 20:04:12.057000+00:00,8.022658e+09,ARI2,1.633119e+09,[leave your name and phone number after the beep]
100000,2021-10-01 20:04:13.642000+00:00,7.177642e+09,ARI2,1.633119e+09,"[hello, no i i dont feel good about]"

In [30]:
data

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions,audioname
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1630000033,number to reach us,ARI6-1630000033-in.wav
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1630000033,simply hang up,ARI6-1630000033-in.wav
1,2021-09-30 15:38:42.256000+00:00,-2147483648,ARI7,1633016322,hello,ARI7-1633016322-in.wav
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1633016322,alright,ARI1-1633016322-in.wav
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1633016322,no im out of the door route to the doctor righ...,ARI1-1633016322-in.wav
...,...,...,...,...,...,...
99997,2021-10-01 20:04:11.983000+00:00,-2147483648,ARI1,1633118651,please leave your name and phone number after ...,ARI1-1633118651-in.wav
99998,2021-10-01 20:04:12.014000+00:00,-2147483648,ARI1,1633118652,is not available please leave a message after ...,ARI1-1633118652-in.wav
99999,2021-10-01 20:04:12.057000+00:00,-2147483648,ARI2,1633118652,leave your name and phone number after the beep,ARI2-1633118652-in.wav
100000,2021-10-01 20:04:13.642000+00:00,-2147483648,ARI2,1633118653,hello,ARI2-1633118653-in.wav
100000,2021-10-01 20:04:13.642000+00:00,-2147483648,ARI2,1633118653,no i i dont feel good about,ARI2-1633118653-in.wav

In [31]:
data['chunk_name'] = data["data.application"].astype(str)+'-' + data["data.id"].astype(str)+'-in' + chunk_name + '.wav'

In [32]:
data

,data.timestamp,data.number,data.application,data.id,data.rawTranscriptions,audioname,chunk_name
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1630000033,number to reach us,ARI6-1630000033-in.wav,ARI6-1630000033-in1.wav
0,2021-08-26 17:47:13.727000+00:00,2039297081,ARI6,1630000033,simply hang up,ARI6-1630000033-in.wav,ARI6-1630000033-in2.wav
1,2021-09-30 15:38:42.256000+00:00,-2147483648,ARI7,1633016322,hello,ARI7-1633016322-in.wav,ARI7-1633016322-in1.wav
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1633016322,alright,ARI1-1633016322-in.wav,ARI1-1633016322-in1.wav
2,2021-09-30 15:38:42.399000+00:00,-2147483648,ARI1,1633016322,no im out of the door route to the doctor righ...,ARI1-1633016322-in.wav,ARI1-1633016322-in2.wav
...,...,...,...,...,...,...,...
99997,2021-10-01 20:04:11.983000+00:00,-2147483648,ARI1,1633118651,please leave your name and phone number after ...,ARI1-1633118651-in.wav,ARI1-1633118651-in1.wav
99998,2021-10-01 20:04:12.014000+00:00,-2147483648,ARI1,1633118652,is not available please leave a message after ...,ARI1-1633118652-in.wav,ARI1-1633118652-in1.wav
99999,2021-10-01 20:04:12.057000+00:00,-2147483648,ARI2,1633118652,leave your name and phone number after the beep,ARI2-1633118652-in.wav,ARI2-1633118652-in1.wav
100000,2021-10-01 20:04:13.642000+00:00,-2147483648,ARI2,1633118653,hello,ARI2-1633118653-in.wav,ARI2-1633118653-in1.wav
100000,2021-10-01 20:04:13.642000+00:00,-2147483648,ARI2,1633118653,no i i dont feel good about,ARI2-1633118653-in.wav,ARI2-1633118653-in2.wav