In [1]:
import pandas as pd
import os
from itertools import groupby

# Tony DB 2021

In [2]:
all_files_name_list_2021 = os.listdir(r'Z:\AIDAILER\Tony DB 2021')

In [3]:
all_files_name_list_2021

['CA .csv',
 'lit-AK.csv',
 'lit-AL.csv',
 'lit-AR.csv',
 'lit-AZ.csv',
 'lit-CO.csv',
 'lit-CT.csv',
 'lit-DC.csv',
 'lit-DE.csv',
 'lit-FL.csv',
 'lit-GA.csv',
 'lit-GU.csv',
 'lit-HI.csv',
 'lit-IA.csv',
 'lit-ID.csv',
 'lit-IL.csv',
 'lit-IN.csv',
 'lit-KS.csv',
 'lit-KY.csv',
 'lit-ME.csv',
 'lit-MN.csv',
 'lit-MO.csv',
 'lit-MS.csv',
 'lit-MT.csv',
 'lit-NC.csv',
 'lit-ND.csv',
 'lit-NE.csv',
 'lit-NH.csv',
 'lit-NJ.csv',
 'lit-NM.csv',
 'lit-NV.csv',
 'lit-NY.csv',
 'lit-OH.csv',
 'lit-OK.csv',
 'lit-OR.csv',
 'lit-PA.csv',
 'lit-PR.csv',
 'lit-RI.csv',
 'lit-SC.csv',
 'lit-SD.csv',
 'lit-TN.csv',
 'lit-TX.csv',
 'lit-UT.csv',
 'lit-VA.csv',
 'lit-WA.csv',
 'lit-WI.csv',
 'lit-WV.csv',
 'lit-WY.csv']

In [7]:
a = r'Z:\AIDAILER\Tony DB 2021\\'

In [8]:
a

'Z:\\AIDAILER\\Tony DB 2021\\\\'

In [9]:
df_2021 = pd.read_csv(r'Z:\AIDAILER\Tony DB 2021\\' + str(all_files_name_list_2021[0]))

In [10]:
df_2021

,Phone Cleaned,FullPhoneNumber,personfirstname,personmiddleinitial,personlastname,primaryaddress,secondaryaddress,cityname,state,ZipCode,...,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone,Litigator
0,8089224871,8089224871,SHARON,K,FARIS,2600 Pualani Way,Apt 2302,Honolulu,HI,96815,...,M,B,1,U,H,N,Y,N,N,N
1,8087801951,8087801951,MICHAEL,NaN,ELM,7305 Nuulolo St,NaN,Honolulu,HI,96825,...,S,C,2,4,H,N,N,N,Y,N
2,8087720818,8087720818,HUI,Y,LIANG,469 Ena Rd,Apt 2910,Honolulu,HI,96815,...,O,B,U,U,H,N,N,N,Y,N
3,8087720818,8087720818,YAN,NaN,LIANG,469 Ena Rd,Apt 2910,Honolulu,HI,96815,...,O,B,U,U,H,N,N,N,Y,N
4,8088391242,8088391242,ALFRED,NaN,BONGA,1544 Onipaa St,NaN,Honolulu,HI,96819,...,A,A,U,U,H,N,Y,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185649,8087544249,8087544249,EMMANUEL,A,ASEJO,92-312 Pueonani Pl,NaN,Kapolei,HI,96707,...,S,D,U,U,H,N,Y,N,Y,N
185650,8087541469,8087541469,SUSAN,NaN,TUNNEY,1416 Luinakoa St,NaN,Honolulu,HI,96821,...,S,B,1,U,H,N,Y,N,Y,N
185651,8087284088,8087284088,SHERWIN,M,BACTAT,94-464 Kuahui St,NaN,Waipahu,HI,96797,...,G,C,U,U,H,N,Y,N,Y,N
185652,8083433912,8083433912,BEVERLY,NaN,CHEZIK,95-199 Aumea Loop,NaN,Mililani,HI,96789,...,O,B,1,U,H,N,Y,N,Y,N
185653,8083433912,8083433912,JESSICA,K,CHEZIK,95-199 Aumea Loop,NaN,Mililani,HI,96789,...,N,B,1,U,H,N,Y,N,Y,N

# intent_export_2021-11-30.csv

In [2]:
# df = pd.read_csv('intent_export_2021-11-30.csv')

In [ ]:
# changes karke trainee waly channel pr bhej dena
# srff human waly column par kaarna h

# 1- remove null
# 2- remove duplicate
# 3- remove junk
# 4- remove bots responses

In [3]:
# df.shape

(13751, 3)

In [4]:
# df

,bot_transcribe,human_transcribe,intent
0,i dont have any kid,i dont have any kid,NaN
1,do you know hat what is it for,do you know what is it for,about
2,i dont nowwha the credit cardyouknow all have ...,i dont now what the credit card you know,about
3,james from the debt relief program,james from the debt relief program,NaN
4,do you work for,do you work for,NaN
...,...,...,...
13746,ye well i guess its goodby,ye well i guess its goodbye,NaN
13747,i dont have any credit card her,i dont have any credit card sir,NaN
13748,what the are,what the debt,NaN
13749,i have a moment,i have a moment,NaN
13750,can you please come on my phone can handle all...,can you please come on my phone can handle all...,NaN

In [5]:
# df.columns

Index(['bot_transcribe', 'human_transcribe', 'intent'], dtype='object')

In [6]:
# df['human_transcribe'].value_counts()

hello                                   255
Hello                                    58
hello hello                              48
hello                                    43
who is this                              43
                                       ...
i cant give you the last four number      1
okay James                                1
can you repeat that                       1
thats the thing i dont have any debt      1
james whats your last name                1
Name: human_transcribe, Length: 12334, dtype: int64

In [7]:
# len(df['human_transcribe'].unique())

12335

In [8]:
# 13751-12335

1416

In [9]:
# val_counts = df['human_transcribe'].value_counts()

In [10]:
# df['human_transcribe'].isnull().value_counts()

False    13673
True        78
Name: human_transcribe, dtype: int64

In [10]:
# val_counts[val_counts > 1]

hello          255
Hello           58
hello hello     48
who is this     43
hello           43
              ...
visa             2
who's this       2
three            2
you call me      2
Nope             2
Name: human_transcribe, Length: 435, dtype: int64

In [41]:
# # Removing Duplicates
# print(len(df))
# df_rm_dup = df.drop_duplicates(subset='human_transcribe')
# print(len(df_rm_dup))

13751
12335

In [42]:
# df_rm_dup.head()

,bot_transcribe,human_transcribe,intent
0,i dont have any kid,i dont have any kid,NaN
1,do you know hat what is it for,do you know what is it for,about
2,i dont nowwha the credit cardyouknow all have ...,i dont now what the credit card you know,about
3,james from the debt relief program,james from the debt relief program,NaN
4,do you work for,do you work for,NaN

In [43]:
# df_rm_dup['human_transcribe'].isnull().value_counts()

False    12334
True         1
Name: human_transcribe, dtype: int64

In [44]:
# df_rm_dup.head()

,bot_transcribe,human_transcribe,intent
0,i dont have any kid,i dont have any kid,NaN
1,do you know hat what is it for,do you know what is it for,about
2,i dont nowwha the credit cardyouknow all have ...,i dont now what the credit card you know,about
3,james from the debt relief program,james from the debt relief program,NaN
4,do you work for,do you work for,NaN

In [49]:
# df_rm_dup[df_rm_dup['human_transcribe'].isnull()]

                                        bot_transcribe human_transcribe intent
548  enter the number of the person for whom you wa...              NaN    NaN

In [53]:
# print(df_rm_dup.shape)

# df_rm_dup3 = df_rm_dup[df_rm_dup.index != 548]
# print(df_rm_dup3.shape)
# df_rm_dup3.head()

(12335, 3)
(12334, 3)

,bot_transcribe,human_transcribe,intent
0,i dont have any kid,i dont have any kid,NaN
1,do you know hat what is it for,do you know what is it for,about
2,i dont nowwha the credit cardyouknow all have ...,i dont now what the credit card you know,about
3,james from the debt relief program,james from the debt relief program,NaN
4,do you work for,do you work for,NaN

In [52]:
# df_rm_dup4 = df_rm_dup.iloc[548]
# df_rm_dup4.head()

bot_transcribe      i  believe
human_transcribe    i  believe
intent                     NaN
Name: 558, dtype: object

In [48]:
# print(df_rm_dup.shape)
# df_rm_dup2 = df_rm_dup[df_rm_dup['human_transcribe'] != 'NaN']
# print(df_rm_dup2.shape)

(12335, 3)
(12335, 3)

In [34]:
# print(df_rm_dup.shape)
# df_rm_dup2 = df_rm_dup['human_transcribe'].dropna()
# df_rm_dup2.shape

(12335, 3)

(12334,)

In [35]:
# df_rm_dup2.columns = ["Human", "", ""]
# df_rm_dup2.head()

0                          i dont have any kid
1                   do you know what is it for
2    i dont now what the credit card you know
3           james from the debt relief program
4                              do you work for
Name: human_transcribe, dtype: object

In [39]:
# type(df_rm_dup2)

pandas.core.series.Series

In [37]:
# df_rm_dup2["asd"] = None

In [38]:
# df_rm_dup2.head()

0                          i dont have any kid
1                   do you know what is it for
2    i dont now what the credit card you know
3           james from the debt relief program
4                              do you work for
Name: human_transcribe, dtype: object

In [54]:
# df_rm_dup3.to_csv('intent_export_2021-11-30_cleaned.csv', index=False)

# transcription data to be clean.csv

In [ ]:
# transcription data to be clean.csv

In [2]:
transcription_df = pd.read_csv('transcription data to be clean.csv')

In [16]:
# String = "hello hello fuck you james fuck hello fuck you james fuck you james"
# unique_words = dict.fromkeys(String.split())
# print(' '.join(unique_words))

hello fuck you james

In [17]:
# from itertools import groupby 
  
# # initializing list
# test_list = [1, 4, 4, 4, 5, 6, 7, 4, 3, 3, 9]
  
# # printing original list
# print ("The original list is : " + str(test_list))
  
# # using groupby() + list comprehension
# # removing consecutive duplicates 
# res = [i[0] for i in groupby(test_list)]
  
# # printing result 
# print ("The list after removing consecutive duplicates : " +  str(res))

The original list is : [1, 4, 4, 4, 5, 6, 7, 4, 3, 3, 9]
The list after removing consecutive duplicates : [1, 4, 5, 6, 7, 4, 3, 9]

In [24]:
String = "oh oh oh hello hello fuck you james hello hello hello fuck hello you james oh fuck you james"
test_list = String.split()
# print(abc)

# printing original list
# print ("The original list is : " + str(test_list))
  
# using groupby() + list comprehension
# removing consecutive duplicates 
res = [i[0] for i in groupby(test_list)]
  
# printing result 
print ("The list after removing consecutive duplicates : " +  str(res))

# print(String+ '\n')
# print(' '.join(res))
print("joined = ' '.join(res)" ,' '.join(res))
print('joined',  joined, '\n')


unique_words = dict.fromkeys(joined.split())
print(' '.join(unique_words))

The list after removing consecutive duplicates : ['oh', 'hello', 'fuck', 'you', 'james', 'hello', 'fuck', 'hello', 'you', 'james', 'oh', 'fuck', 'you', 'james']
joined = ' '.join(res) oh hello fuck you james hello fuck hello you james oh fuck you james
joined oh hello fuck you james hello fuck hello you james oh fuck you james

oh hello fuck you james

In [10]:
# def remove_dup_words(string):    
# #     string = "oh hello hello fuck you james hello hello hello fuck hello you james fuck you james"
#     test_list = string.split()
#     res = [i[0] for i in groupby(test_list)]
#     joined = ' '.join(res)
#     return joined

In [3]:
transcription_df_2 = transcription_df.copy(deep=True)

In [4]:
transcription_df_2['transcription_removed_duplicated_words'] = transcription_df_2['transcription']

In [6]:
transcription_df_2.head()

,recoding_url,transcription,transcription_removed_duplicated_words
0,http://192.168.88.254/transcription_wav/transc...,a american express but its a closed account i ...,a american express but its a closed account i ...
1,http://192.168.88.254/transcription_wav/transc...,a ask you a question,a ask you a question
2,http://192.168.88.254/transcription_wav/transc...,a bot,a bot
3,http://192.168.88.254/transcription_wav/transc...,a bunch on both of them i have discover card too,a bunch on both of them i have discover card too
4,http://192.168.88.254/transcription_wav/transc...,a card that i most its usually the mastercard,a card that i most its usually the mastercard

In [13]:
# transcription_df_2['transcription_removed_duplicated_words'].apply(remove_dup_words)

0        a american express but its a closed account i ...
1                                     a ask you a question
2                                                    a bot
3         a bunch on both of them i have discover card too
4            a card that i most its usually the mastercard
                               ...
10075                             youve reached to the fbi
10076            zero i dont use any credit card zero none
10077                            zero none i dont have any
10078    zero two one nine if i call a number right now...
10079                    zero i pay my bills first in full
Name: transcription_removed_duplicated_words, Length: 10080, dtype: object

In [7]:
for i in range(len(transcription_df_2['transcription'])):
    string = transcription_df_2['transcription_removed_duplicated_words'][i]
    test_list = string.split()
    res = [i[0] for i in groupby(test_list)]
    joined = ' '.join(res)
    transcription_df_2['transcription_removed_duplicated_words'][i] = joined

In [8]:
transcription_df_2

,recoding_url,transcription,transcription_removed_duplicated_words
0,http://192.168.88.254/transcription_wav/transc...,a american express but its a closed account i ...,a american express but its a closed account i ...
1,http://192.168.88.254/transcription_wav/transc...,a ask you a question,a ask you a question
2,http://192.168.88.254/transcription_wav/transc...,a bot,a bot
3,http://192.168.88.254/transcription_wav/transc...,a bunch on both of them i have discover card too,a bunch on both of them i have discover card too
4,http://192.168.88.254/transcription_wav/transc...,a card that i most its usually the mastercard,a card that i most its usually the mastercard
...,...,...,...
10075,http://192.168.88.254/transcription_wav/transc...,youve reached to the fbi,youve reached to the fbi
10076,http://192.168.88.254/transcription_wav/transc...,zero i dont use any credit card zero none none,zero i dont use any credit card zero none
10077,http://192.168.88.254/transcription_wav/transc...,zero none i dont have any,zero none i dont have any
10078,http://192.168.88.254/transcription_wav/transc...,zero two one nine if i call a number right now...,zero two one nine if i call a number right now...
10079,http://192.168.88.254/transcription_wav/transc...,zero zero i pay my bills first in full,zero i pay my bills first in full

In [25]:
transcription_df_2[transcription_df_2['transcription'] == 'hello hello']

,recoding_url,transcription,transcription_removed_duplicated_words
1750,http://192.168.88.254/transcription_wav/transc...,hello hello,hello

In [16]:
transcription_df_2.iloc[0, 1]

'a american express but its a closed account i closed it earlier today'

In [17]:
transcription_df_2.iloc[0, 2]

'a american express but its a closed account i closed it earlier today'

In [7]:
# transcription_df_2['transcription'][0]

'a american express but its a closed account i closed it earlier today'

In [8]:
# transcription_df_3 = transcription_df_2['transcription']

In [11]:
# transcription_df_3[0] = 'hello hello hello'

In [14]:
# transcription_df_3[1] = 'sohaib'

In [15]:
# transcription_df_3

0                                        hello hello hello
1                                                   sohaib
2                                                    a bot
3         a bunch on both of them i have discover card too
4            a card that i most its usually the mastercard
                               ...
10075                             youve reached to the fbi
10076       zero i dont use any credit card zero none none
10077                            zero none i dont have any
10078    zero two one nine if i call a number right now...
10079               zero zero i pay my bills first in full
Name: transcription, Length: 10080, dtype: object

In [10]:
# from itertools import groupby 
# def remove_all_consecutive(str1): 
#     result_str = [] 
#     for (key,group) in groupby(str1): 
#         result_str.append(key) 

#     return ''.join(result_str)

# str1 = 'oh hello hello fuck you james fuck you james fuck you james'
# print("Original string:" + str1)
# print("After removing consecutive duplicates: " + str1)
# print(remove_all_consecutive(str1))

Original string:oh hello hello fuck you james fuck you james fuck you james
After removing consecutive duplicates: oh hello hello fuck you james fuck you james fuck you james
oh helo helo fuck you james fuck you james fuck you james

In [27]:
transcription_df_2.to_csv('transcription data Cleaned.csv', index=False)

# 2018

In [2]:
all_files_name_list_2018 = os.listdir(r'Z:\AIDAILER\2018.3')

In [3]:
len(all_files_name_list_2018)

211

In [4]:
all_files_name_list_2018

['2018_3_USA_Consumer_SF_AK_0.csv',
 '2018_3_USA_Consumer_SF_AL_0.csv',
 '2018_3_USA_Consumer_SF_AL_1.csv',
 '2018_3_USA_Consumer_SF_AL_2.csv',
 '2018_3_USA_Consumer_SF_AL_3.csv',
 '2018_3_USA_Consumer_SF_AL_4.csv',
 '2018_3_USA_Consumer_SF_AR_0.csv',
 '2018_3_USA_Consumer_SF_AR_1.csv',
 '2018_3_USA_Consumer_SF_AR_2.csv',
 '2018_3_USA_Consumer_SF_AZ_0.csv',
 '2018_3_USA_Consumer_SF_AZ_1.csv',
 '2018_3_USA_Consumer_SF_AZ_2.csv',
 '2018_3_USA_Consumer_SF_AZ_3.csv',
 '2018_3_USA_Consumer_SF_AZ_4.csv',
 '2018_3_USA_Consumer_SF_CA_0.csv',
 '2018_3_USA_Consumer_SF_CA_1.csv',
 '2018_3_USA_Consumer_SF_CA_10.csv',
 '2018_3_USA_Consumer_SF_CA_11.csv',
 '2018_3_USA_Consumer_SF_CA_12.csv',
 '2018_3_USA_Consumer_SF_CA_13.csv',
 '2018_3_USA_Consumer_SF_CA_14.csv',
 '2018_3_USA_Consumer_SF_CA_15.csv',
 '2018_3_USA_Consumer_SF_CA_17.csv',
 '2018_3_USA_Consumer_SF_CA_2.csv',
 '2018_3_USA_Consumer_SF_CA_20.csv',
 '2018_3_USA_Consumer_SF_CA_22.csv',
 '2018_3_USA_Consumer_SF_CA_23.csv',
 '2018_3_USA_Consumer_SF_CA_24.csv',
 '2018_3_USA_Consumer_SF_CA_26.csv',
 '2018_3_USA_Consumer_SF_CA_27.csv',
 '2018_3_USA_Consumer_SF_CA_29.csv',
 '2018_3_USA_Consumer_SF_CA_3.csv',
 '2018_3_USA_Consumer_SF_CA_4.csv',
 '2018_3_USA_Consumer_SF_CA_5.csv',
 '2018_3_USA_Consumer_SF_CA_6.csv',
 '2018_3_USA_Consumer_SF_CA_7.csv',
 '2018_3_USA_Consumer_SF_CA_8.csv',
 '2018_3_USA_Consumer_SF_CA_9.csv',
 '2018_3_USA_Consumer_SF_CO_0.csv',
 '2018_3_USA_Consumer_SF_CO_2.csv',
 '2018_3_USA_Consumer_SF_CO_4.csv',
 '2018_3_USA_Consumer_SF_CT_0.csv',
 '2018_3_USA_Consumer_SF_CT_1.csv',
 '2018_3_USA_Consumer_SF_CT_3.csv',
 '2018_3_USA_Consumer_SF_DC_0.csv',
 '2018_3_USA_Consumer_SF_DE_0.csv',
 '2018_3_USA_Consumer_SF_DE_1.csv',
 '2018_3_USA_Consumer_SF_FL_0.csv',
 '2018_3_USA_Consumer_SF_FL_18.csv',
 '2018_3_USA_Consumer_SF_GA_0.csv',
 '2018_3_USA_Consumer_SF_GA_1.csv',
 '2018_3_USA_Consumer_SF_GA_2.csv',
 '2018_3_USA_Consumer_SF_GA_3.csv',
 '2018_3_USA_Consumer_SF_GA_4.csv',
 '2018_3_USA_Consumer_SF_GA_7.csv',
 '2018_3_USA_Consumer_SF_GA_8.csv',
 '2018_3_USA_Consumer_SF_GU_0.csv',
 '2018_3_USA_Consumer_SF_IA_0.csv',
 '2018_3_USA_Consumer_SF_IA_1.csv',
 '2018_3_USA_Consumer_SF_IA_2.csv',
 '2018_3_USA_Consumer_SF_ID_0.csv',
 '2018_3_USA_Consumer_SF_ID_1.csv',
 '2018_3_USA_Consumer_SF_IL_0.csv',
 '2018_3_USA_Consumer_SF_IL_10.csv',
 '2018_3_USA_Consumer_SF_IL_11.csv',
 '2018_3_USA_Consumer_SF_IL_3.csv',
 '2018_3_USA_Consumer_SF_IL_4.csv',
 '2018_3_USA_Consumer_SF_IL_6.csv',
 '2018_3_USA_Consumer_SF_IL_8.csv',
 '2018_3_USA_Consumer_SF_IL_9.csv',
 '2018_3_USA_Consumer_SF_IN_2.csv',
 '2018_3_USA_Consumer_SF_IN_4.csv',
 '2018_3_USA_Consumer_SF_KS_0.csv',
 '2018_3_USA_Consumer_SF_KS_1.csv',
 '2018_3_USA_Consumer_SF_KY_0.csv',
 '2018_3_USA_Consumer_SF_KY_1.csv',
 '2018_3_USA_Consumer_SF_KY_2.csv',
 '2018_3_USA_Consumer_SF_KY_4.csv',
 '2018_3_USA_Consumer_SF_LA_0.csv',
 '2018_3_USA_Consumer_SF_LA_1.csv',
 '2018_3_USA_Consumer_SF_LA_2.csv',
 '2018_3_USA_Consumer_SF_LA_3.csv',
 '2018_3_USA_Consumer_SF_LA_4.csv',
 '2018_3_USA_Consumer_SF_MA_0.csv',
 '2018_3_USA_Consumer_SF_MA_4.csv',
 '2018_3_USA_Consumer_SF_MA_6.csv',
 '2018_3_USA_Consumer_SF_MD_0.csv',
 '2018_3_USA_Consumer_SF_MD_1.csv',
 '2018_3_USA_Consumer_SF_MD_2.csv',
 '2018_3_USA_Consumer_SF_MD_3.csv',
 '2018_3_USA_Consumer_SF_MD_4.csv',
 '2018_3_USA_Consumer_SF_MD_5.csv',
 '2018_3_USA_Consumer_SF_MI_2.csv',
 '2018_3_USA_Consumer_SF_MI_3.csv',
 '2018_3_USA_Consumer_SF_MI_4.csv',
 '2018_3_USA_Consumer_SF_MI_5.csv',
 '2018_3_USA_Consumer_SF_MI_8.csv',
 '2018_3_USA_Consumer_SF_MI_9.csv',
 '2018_3_USA_Consumer_SF_MN_0.csv',
 '2018_3_USA_Consumer_SF_MN_2.csv',
 '2018_3_USA_Consumer_SF_MN_4.csv',
 '2018_3_USA_Consumer_SF_MN_5.csv',
 '2018_3_USA_Consumer_SF_MO_0.csv',
 '2018_3_USA_Consumer_SF_MO_1.csv',
 '2018_3_USA_Consumer_SF_MO_3.csv',
 '2018_3_USA_Consumer_SF_MO_4.csv',
 '2018_3_USA_Consumer_SF_MO_5.csv',
 '2018_3_USA_Consumer_SF_MS_0.csv',
 '2018_3_USA_Consumer_SF_MS_1.csv',
 '2018_3_USA_Consumer_SF_MT_0.csv',
 '2018_3_USA_Consumer_SF_NC_0.csv',
 '2018_3_USA_Consumer_SF_NC_1.csv',
 '2018_3_USA_Consumer_SF_NC_2.csv',
 '2018_3_USA_Consumer_SF_NC_3.csv',
 '2018_3_USA_Consumer_SF_NC_4.csv',
 '2018_3_USA_Consumer_SF_NC_5.csv',
 '2018_3_USA_Consumer_SF_NC_6.csv',
 '2018_3_USA_Consumer_SF_NC_8.csv',
 '2018_3_USA_Consumer_SF_ND_0.csv',
 '2018_3_USA_Consumer_SF_NE_1.csv',
 '2018_3_USA_Consumer_SF_NJ_0.csv',
 '2018_3_USA_Consumer_SF_NJ_1.csv',
 '2018_3_USA_Consumer_SF_NJ_3.csv',
 '2018_3_USA_Consumer_SF_NJ_4.csv',
 '2018_3_USA_Consumer_SF_NJ_7.csv',
 '2018_3_USA_Consumer_SF_NM_0.csv',
 '2018_3_USA_Consumer_SF_NM_1.csv',
 '2018_3_USA_Consumer_SF_NV_0.csv',
 '2018_3_USA_Consumer_SF_NV_2.csv',
 '2018_3_USA_Consumer_SF_NY_1.csv',
 '2018_3_USA_Consumer_SF_NY_10.csv',
 '2018_3_USA_Consumer_SF_NY_11.csv',
 '2018_3_USA_Consumer_SF_NY_12.csv',
 '2018_3_USA_Consumer_SF_NY_13.csv',
 '2018_3_USA_Consumer_SF_NY_14.csv',
 '2018_3_USA_Consumer_SF_NY_15.csv',
 '2018_3_USA_Consumer_SF_NY_16.csv',
 '2018_3_USA_Consumer_SF_NY_17.csv',
 '2018_3_USA_Consumer_SF_NY_2.csv',
 '2018_3_USA_Consumer_SF_NY_4.csv',
 '2018_3_USA_Consumer_SF_NY_5.csv',
 '2018_3_USA_Consumer_SF_NY_6.csv',
 '2018_3_USA_Consumer_SF_NY_7.csv',
 '2018_3_USA_Consumer_SF_NY_8.csv',
 '2018_3_USA_Consumer_SF_NY_9.csv',
 '2018_3_USA_Consumer_SF_OH_0.csv',
 '2018_3_USA_Consumer_SF_OH_1.csv',
 '2018_3_USA_Consumer_SF_OH_11.csv',
 '2018_3_USA_Consumer_SF_OH_2.csv',
 '2018_3_USA_Consumer_SF_OH_3.csv',
 '2018_3_USA_Consumer_SF_OH_5.csv',
 '2018_3_USA_Consumer_SF_OH_8.csv',
 '2018_3_USA_Consumer_SF_OK_1.csv',
 '2018_3_USA_Consumer_SF_OK_3.csv',
 '2018_3_USA_Consumer_SF_OR_0.csv',
 '2018_3_USA_Consumer_SF_OR_1.csv',
 '2018_3_USA_Consumer_SF_OR_2.csv',
 '2018_3_USA_Consumer_SF_OR_3.csv',
 '2018_3_USA_Consumer_SF_PA_0.csv',
 '2018_3_USA_Consumer_SF_PA_1.csv',
 '2018_3_USA_Consumer_SF_PA_11.csv',
 '2018_3_USA_Consumer_SF_PA_2.csv',
 '2018_3_USA_Consumer_SF_PA_3.csv',
 '2018_3_USA_Consumer_SF_PA_4.csv',
 '2018_3_USA_Consumer_SF_PA_7.csv',
 '2018_3_USA_Consumer_SF_PA_8.csv',
 '2018_3_USA_Consumer_SF_RI_0.csv',
 '2018_3_USA_Consumer_SF_RI_1.csv',
 '2018_3_USA_Consumer_SF_SC_0.csv',
 '2018_3_USA_Consumer_SF_SC_2.csv',
 '2018_3_USA_Consumer_SF_SC_3.csv',
 '2018_3_USA_Consumer_SF_SC_4.csv',
 '2018_3_USA_Consumer_SF_SD_0.csv',
 '2018_3_USA_Consumer_SF_TN_0.csv',
 '2018_3_USA_Consumer_SF_TN_1.csv',
 '2018_3_USA_Consumer_SF_TN_3.csv',
 '2018_3_USA_Consumer_SF_TN_4.csv',
 '2018_3_USA_Consumer_SF_TN_5.csv',
 '2018_3_USA_Consumer_SF_TX_0.csv',
 '2018_3_USA_Consumer_SF_TX_1.csv',
 '2018_3_USA_Consumer_SF_TX_11.csv',
 '2018_3_USA_Consumer_SF_TX_12.csv',
 '2018_3_USA_Consumer_SF_TX_14.csv',
 '2018_3_USA_Consumer_SF_TX_15.csv',
 '2018_3_USA_Consumer_SF_TX_16.csv',
 '2018_3_USA_Consumer_SF_TX_18.csv',
 '2018_3_USA_Consumer_SF_TX_19.csv',
 '2018_3_USA_Consumer_SF_TX_20.csv',
 '2018_3_USA_Consumer_SF_TX_21.csv',
 '2018_3_USA_Consumer_SF_TX_22.csv',
 '2018_3_USA_Consumer_SF_TX_3.csv',
 '2018_3_USA_Consumer_SF_TX_5.csv',
 '2018_3_USA_Consumer_SF_TX_7.csv',
 '2018_3_USA_Consumer_SF_TX_9.csv',
 '2018_3_USA_Consumer_SF_UT_0.csv',
 '2018_3_USA_Consumer_SF_UT_2.csv',
 '2018_3_USA_Consumer_SF_VA_1.csv',
 '2018_3_USA_Consumer_SF_VA_2.csv',
 '2018_3_USA_Consumer_SF_VA_4.csv',
 '2018_3_USA_Consumer_SF_VA_5.csv',
 '2018_3_USA_Consumer_SF_VI_0.csv',
 '2018_3_USA_Consumer_SF_VT_0.csv',
 '2018_3_USA_Consumer_SF_WA_2.csv',
 '2018_3_USA_Consumer_SF_WA_3.csv',
 '2018_3_USA_Consumer_SF_WA_4.csv',
 '2018_3_USA_Consumer_SF_WA_5.csv',
 '2018_3_USA_Consumer_SF_WI_1.csv',
 '2018_3_USA_Consumer_SF_WI_3.csv',
 '2018_3_USA_Consumer_SF_WI_4.csv',
 '2018_3_USA_Consumer_SF_WI_5.csv',
 '2018_3_USA_Consumer_SF_WY_0.csv']

In [5]:
df_2018 = pd.read_csv(r'Z:\AIDAILER\2018.3\\' + all_files_name_list_2018[10])

ParserError: Error tokenizing data. C error: EOF inside string starting at row 1263

In [6]:
all_files_name_list_2018[10]

'2018_3_USA_Consumer_SF_AZ_1.csv'

In [16]:
'Z:\AIDAILER\2018.3\\' + all_files_name_list_2018[10]

'Z:\\AIDAILER\x818.3\\2018_3_USA_Consumer_SF_AZ_1.csv'

In [ ]:
abc = pd.read_csv('2018_3_USA_Consumer_SF_AL_0.csv', )

In [14]:
source = "Z:/AIDAILER/2018.3/"
csvs_iter = iter(all_files_name_list_2018)

for i in range(len(all_files_name_list_2018)):
    #     print(i+1, next(csvs_iter))
    df_2018 = pd.read_csv(os.path.join(source ,str(next(csvs_iter))), sep="\t|,",warn_bad_lines=True, error_bad_lines=False)
    print(i+1, all_files_name_list_2018[i], df_2018.shape)

<ipython-input-14-cf32dfbf0dbe>:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_2018 = pd.read_csv(os.path.join(source ,str(next(csvs_iter))), sep="\t|,",warn_bad_lines=True, error_bad_lines=False)

1 2018_3_USA_Consumer_SF_AK_0.csv (212458, 97)
2 2018_3_USA_Consumer_SF_AL_0.csv (499999, 97)
3 2018_3_USA_Consumer_SF_AL_1.csv (499999, 97)

Skipping line 102069: Expected 97 fields in line 102069, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

4 2018_3_USA_Consumer_SF_AL_2.csv (499998, 97)

Skipping line 306509: Expected 97 fields in line 306509, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

5 2018_3_USA_Consumer_SF_AL_3.csv (499998, 97)

Skipping line 240897: Expected 97 fields in line 240897, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

6 2018_3_USA_Consumer_SF_AL_4.csv (334813, 97)

Skipping line 290975: Expected 97 fields in line 290975, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

7 2018_3_USA_Consumer_SF_AR_0.csv (332305, 97)
8 2018_3_USA_Consumer_SF_AR_1.csv (499999, 97)

Skipping line 261874: Expected 97 fields in line 261874, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

9 2018_3_USA_Consumer_SF_AR_2.csv (350845, 97)

Skipping line 208215: Expected 97 fields in line 208215, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 455542: Expected 97 fields in line 455542, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

10 2018_3_USA_Consumer_SF_AZ_0.csv (499997, 97)
11 2018_3_USA_Consumer_SF_AZ_1.csv (1263, 97)

Skipping line 474980: Expected 97 fields in line 474980, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

12 2018_3_USA_Consumer_SF_AZ_2.csv (499998, 97)
13 2018_3_USA_Consumer_SF_AZ_3.csv (499999, 97)
14 2018_3_USA_Consumer_SF_AZ_4.csv (457824, 97)
15 2018_3_USA_Consumer_SF_CA_0.csv (499999, 97)
16 2018_3_USA_Consumer_SF_CA_1.csv (499999, 97)

Skipping line 193623: Expected 97 fields in line 193623, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

17 2018_3_USA_Consumer_SF_CA_10.csv (499998, 97)
18 2018_3_USA_Consumer_SF_CA_11.csv (499999, 97)
19 2018_3_USA_Consumer_SF_CA_12.csv (499999, 97)
20 2018_3_USA_Consumer_SF_CA_13.csv (14469, 97)

Skipping line 304775: Expected 97 fields in line 304775, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

21 2018_3_USA_Consumer_SF_CA_14.csv (499998, 97)
22 2018_3_USA_Consumer_SF_CA_15.csv (499999, 97)

Skipping line 40040: Expected 97 fields in line 40040, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 222813: Expected 97 fields in line 222813, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

23 2018_3_USA_Consumer_SF_CA_17.csv (499997, 97)
24 2018_3_USA_Consumer_SF_CA_2.csv (499999, 97)
25 2018_3_USA_Consumer_SF_CA_20.csv (499999, 97)

Skipping line 30038: Expected 97 fields in line 30038, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 369156: Expected 97 fields in line 369156, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

26 2018_3_USA_Consumer_SF_CA_22.csv (499997, 97)

Skipping line 352810: Expected 97 fields in line 352810, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

27 2018_3_USA_Consumer_SF_CA_23.csv (499998, 97)
28 2018_3_USA_Consumer_SF_CA_24.csv (499999, 97)
29 2018_3_USA_Consumer_SF_CA_26.csv (499999, 97)

Skipping line 364165: Expected 97 fields in line 364165, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

30 2018_3_USA_Consumer_SF_CA_27.csv (499998, 97)
31 2018_3_USA_Consumer_SF_CA_29.csv (225031, 97)
32 2018_3_USA_Consumer_SF_CA_3.csv (499999, 97)
33 2018_3_USA_Consumer_SF_CA_4.csv (499999, 97)
34 2018_3_USA_Consumer_SF_CA_5.csv (499999, 97)
35 2018_3_USA_Consumer_SF_CA_6.csv (499999, 97)
36 2018_3_USA_Consumer_SF_CA_7.csv (499999, 97)
37 2018_3_USA_Consumer_SF_CA_8.csv (85195, 97)

Skipping line 459910: Expected 97 fields in line 459910, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

38 2018_3_USA_Consumer_SF_CA_9.csv (499998, 97)
39 2018_3_USA_Consumer_SF_CO_0.csv (499999, 97)
40 2018_3_USA_Consumer_SF_CO_2.csv (499999, 97)
41 2018_3_USA_Consumer_SF_CO_4.csv (326263, 97)
42 2018_3_USA_Consumer_SF_CT_0.csv (499999, 97)
43 2018_3_USA_Consumer_SF_CT_1.csv (499999, 97)
44 2018_3_USA_Consumer_SF_CT_3.csv (376445, 97)

Skipping line 146629: Expected 97 fields in line 146629, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

45 2018_3_USA_Consumer_SF_DC_0.csv (229846, 97)
46 2018_3_USA_Consumer_SF_DE_0.csv (499999, 97)
47 2018_3_USA_Consumer_SF_DE_1.csv (32200, 97)
48 2018_3_USA_Consumer_SF_FL_0.csv (499999, 97)
49 2018_3_USA_Consumer_SF_FL_18.csv (19494, 97)
50 2018_3_USA_Consumer_SF_GA_0.csv (499999, 97)
51 2018_3_USA_Consumer_SF_GA_1.csv (499999, 97)

Skipping line 442210: Expected 97 fields in line 442210, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

52 2018_3_USA_Consumer_SF_GA_2.csv (499998, 97)

Skipping line 349482: Expected 97 fields in line 349482, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

53 2018_3_USA_Consumer_SF_GA_3.csv (499998, 97)

Skipping line 208260: Expected 97 fields in line 208260, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

54 2018_3_USA_Consumer_SF_GA_4.csv (499998, 97)
55 2018_3_USA_Consumer_SF_GA_7.csv (499999, 97)

Skipping line 216389: Expected 97 fields in line 216389, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

56 2018_3_USA_Consumer_SF_GA_8.csv (429116, 97)
57 2018_3_USA_Consumer_SF_GU_0.csv (36, 97)
58 2018_3_USA_Consumer_SF_IA_0.csv (499999, 97)

Skipping line 37044: Expected 97 fields in line 37044, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 468185: Expected 97 fields in line 468185, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

59 2018_3_USA_Consumer_SF_IA_1.csv (499997, 97)
60 2018_3_USA_Consumer_SF_IA_2.csv (499999, 97)

Skipping line 183124: Expected 97 fields in line 183124, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 443334: Expected 97 fields in line 443334, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

61 2018_3_USA_Consumer_SF_ID_0.csv (499997, 97)
62 2018_3_USA_Consumer_SF_ID_1.csv (130152, 97)
63 2018_3_USA_Consumer_SF_IL_0.csv (499999, 97)
64 2018_3_USA_Consumer_SF_IL_10.csv (499999, 97)
65 2018_3_USA_Consumer_SF_IL_11.csv (493034, 97)
66 2018_3_USA_Consumer_SF_IL_3.csv (499999, 97)
67 2018_3_USA_Consumer_SF_IL_4.csv (499999, 97)
68 2018_3_USA_Consumer_SF_IL_6.csv (499999, 97)
69 2018_3_USA_Consumer_SF_IL_8.csv (499999, 97)
70 2018_3_USA_Consumer_SF_IL_9.csv (499999, 97)
71 2018_3_USA_Consumer_SF_IN_2.csv (499999, 97)

Skipping line 182061: Expected 97 fields in line 182061, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

72 2018_3_USA_Consumer_SF_IN_4.csv (499998, 97)

Skipping line 327352: Expected 97 fields in line 327352, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 454413: Expected 97 fields in line 454413, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

73 2018_3_USA_Consumer_SF_KS_0.csv (499997, 97)

Skipping line 63334: Expected 97 fields in line 63334, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 346788: Expected 97 fields in line 346788, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 346789: Expected 97 fields in line 346789, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

74 2018_3_USA_Consumer_SF_KS_1.csv (499996, 97)

Skipping line 180668: Expected 97 fields in line 180668, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

75 2018_3_USA_Consumer_SF_KY_0.csv (499998, 97)

Skipping line 198046: Expected 97 fields in line 198046, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

76 2018_3_USA_Consumer_SF_KY_1.csv (499998, 97)
77 2018_3_USA_Consumer_SF_KY_2.csv (499999, 97)
78 2018_3_USA_Consumer_SF_KY_4.csv (97091, 97)

Skipping line 455216: Expected 97 fields in line 455216, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

79 2018_3_USA_Consumer_SF_LA_0.csv (499998, 97)
80 2018_3_USA_Consumer_SF_LA_1.csv (499999, 97)
81 2018_3_USA_Consumer_SF_LA_2.csv (16130, 97)
82 2018_3_USA_Consumer_SF_LA_3.csv (499999, 97)
83 2018_3_USA_Consumer_SF_LA_4.csv (297621, 97)
84 2018_3_USA_Consumer_SF_MA_0.csv (499999, 97)
85 2018_3_USA_Consumer_SF_MA_4.csv (499999, 97)

Skipping line 206670: Expected 97 fields in line 206670, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

86 2018_3_USA_Consumer_SF_MA_6.csv (295267, 97)
87 2018_3_USA_Consumer_SF_MD_0.csv (499999, 97)
88 2018_3_USA_Consumer_SF_MD_1.csv (27157, 97)
89 2018_3_USA_Consumer_SF_MD_2.csv (3858, 97)
90 2018_3_USA_Consumer_SF_MD_3.csv (499999, 97)

Skipping line 161797: Expected 97 fields in line 161797, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

91 2018_3_USA_Consumer_SF_MD_4.csv (499998, 97)
92 2018_3_USA_Consumer_SF_MD_5.csv (408423, 97)
93 2018_3_USA_Consumer_SF_MI_2.csv (499999, 97)
94 2018_3_USA_Consumer_SF_MI_3.csv (499999, 97)
95 2018_3_USA_Consumer_SF_MI_4.csv (499999, 97)
96 2018_3_USA_Consumer_SF_MI_5.csv (499999, 97)

Skipping line 490151: Expected 97 fields in line 490151, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

97 2018_3_USA_Consumer_SF_MI_8.csv (499998, 97)
98 2018_3_USA_Consumer_SF_MI_9.csv (499999, 97)
99 2018_3_USA_Consumer_SF_MN_0.csv (499999, 97)

Skipping line 233561: Expected 97 fields in line 233561, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

100 2018_3_USA_Consumer_SF_MN_2.csv (499998, 97)
101 2018_3_USA_Consumer_SF_MN_4.csv (499999, 97)

Skipping line 92840: Expected 97 fields in line 92840, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

102 2018_3_USA_Consumer_SF_MN_5.csv (219504, 97)
103 2018_3_USA_Consumer_SF_MO_0.csv (499999, 97)
104 2018_3_USA_Consumer_SF_MO_1.csv (499999, 97)
105 2018_3_USA_Consumer_SF_MO_3.csv (499999, 97)
106 2018_3_USA_Consumer_SF_MO_4.csv (499999, 97)
107 2018_3_USA_Consumer_SF_MO_5.csv (406780, 97)

Skipping line 173756: Expected 97 fields in line 173756, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

108 2018_3_USA_Consumer_SF_MS_0.csv (499998, 97)
109 2018_3_USA_Consumer_SF_MS_1.csv (499999, 97)
110 2018_3_USA_Consumer_SF_MT_0.csv (431824, 97)
111 2018_3_USA_Consumer_SF_NC_0.csv (499999, 97)
112 2018_3_USA_Consumer_SF_NC_1.csv (499999, 97)

Skipping line 269410: Expected 97 fields in line 269410, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

113 2018_3_USA_Consumer_SF_NC_2.csv (499998, 97)

Skipping line 464264: Expected 97 fields in line 464264, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

114 2018_3_USA_Consumer_SF_NC_3.csv (499998, 97)

Skipping line 495944: Expected 97 fields in line 495944, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

115 2018_3_USA_Consumer_SF_NC_4.csv (499998, 97)
116 2018_3_USA_Consumer_SF_NC_5.csv (499999, 97)
117 2018_3_USA_Consumer_SF_NC_6.csv (499999, 97)
118 2018_3_USA_Consumer_SF_NC_8.csv (234067, 97)
119 2018_3_USA_Consumer_SF_ND_0.csv (297607, 97)
120 2018_3_USA_Consumer_SF_NE_1.csv (320963, 97)

Skipping line 236260: Expected 97 fields in line 236260, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 236365: Expected 97 fields in line 236365, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

121 2018_3_USA_Consumer_SF_NJ_0.csv (499997, 97)

Skipping line 256232: Expected 97 fields in line 256232, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

122 2018_3_USA_Consumer_SF_NJ_1.csv (499998, 97)
123 2018_3_USA_Consumer_SF_NJ_3.csv (18030, 97)

Skipping line 339503: Expected 97 fields in line 339503, saw 101. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 375196: Expected 97 fields in line 375196, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 432452: Expected 97 fields in line 432452, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

124 2018_3_USA_Consumer_SF_NJ_4.csv (499996, 97)

Skipping line 419817: Expected 97 fields in line 419817, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

125 2018_3_USA_Consumer_SF_NJ_7.csv (499998, 97)
126 2018_3_USA_Consumer_SF_NM_0.csv (499999, 97)
127 2018_3_USA_Consumer_SF_NM_1.csv (242653, 97)
128 2018_3_USA_Consumer_SF_NV_0.csv (499999, 97)
129 2018_3_USA_Consumer_SF_NV_2.csv (116413, 97)

Skipping line 122626: Expected 97 fields in line 122626, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

130 2018_3_USA_Consumer_SF_NY_1.csv (499998, 97)
131 2018_3_USA_Consumer_SF_NY_10.csv (499999, 97)

Skipping line 39195: Expected 97 fields in line 39195, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

132 2018_3_USA_Consumer_SF_NY_11.csv (499998, 97)

Skipping line 93853: Expected 97 fields in line 93853, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 134152: Expected 97 fields in line 134152, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

133 2018_3_USA_Consumer_SF_NY_12.csv (499997, 97)

Skipping line 49362: Expected 97 fields in line 49362, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

134 2018_3_USA_Consumer_SF_NY_13.csv (499998, 97)

Skipping line 7685: Expected 97 fields in line 7685, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 146415: Expected 97 fields in line 146415, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 154450: Expected 97 fields in line 154450, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 214700: Expected 97 fields in line 214700, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

135 2018_3_USA_Consumer_SF_NY_14.csv (499995, 97)
136 2018_3_USA_Consumer_SF_NY_15.csv (499999, 97)
137 2018_3_USA_Consumer_SF_NY_16.csv (499999, 97)
138 2018_3_USA_Consumer_SF_NY_17.csv (199989, 97)
139 2018_3_USA_Consumer_SF_NY_2.csv (499999, 97)
140 2018_3_USA_Consumer_SF_NY_4.csv (499999, 97)

Skipping line 370420: Expected 97 fields in line 370420, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

141 2018_3_USA_Consumer_SF_NY_5.csv (499998, 97)

Skipping line 86812: Expected 97 fields in line 86812, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 500000: Expected 97 fields in line 500000, saw 176. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

142 2018_3_USA_Consumer_SF_NY_6.csv (685753, 97)
143 2018_3_USA_Consumer_SF_NY_7.csv (499999, 97)

Skipping line 89067: Expected 97 fields in line 89067, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

144 2018_3_USA_Consumer_SF_NY_8.csv (499998, 97)

Skipping line 227302: Expected 97 fields in line 227302, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 334066: Expected 97 fields in line 334066, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

145 2018_3_USA_Consumer_SF_NY_9.csv (499997, 97)

Skipping line 309586: Expected 97 fields in line 309586, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

146 2018_3_USA_Consumer_SF_OH_0.csv (499998, 97)
147 2018_3_USA_Consumer_SF_OH_1.csv (499999, 97)

Skipping line 381063: Expected 97 fields in line 381063, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

148 2018_3_USA_Consumer_SF_OH_11.csv (499998, 97)

Skipping line 496998: Expected 97 fields in line 496998, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

149 2018_3_USA_Consumer_SF_OH_2.csv (499998, 97)
150 2018_3_USA_Consumer_SF_OH_3.csv (499999, 97)
151 2018_3_USA_Consumer_SF_OH_5.csv (499999, 97)

Skipping line 43569: Expected 97 fields in line 43569, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

152 2018_3_USA_Consumer_SF_OH_8.csv (499998, 97)
153 2018_3_USA_Consumer_SF_OK_1.csv (499999, 97)
154 2018_3_USA_Consumer_SF_OK_3.csv (157528, 97)
155 2018_3_USA_Consumer_SF_OR_0.csv (499999, 97)

Skipping line 238300: Expected 97 fields in line 238300, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 361424: Expected 97 fields in line 361424, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 412074: Expected 97 fields in line 412074, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

156 2018_3_USA_Consumer_SF_OR_1.csv (499996, 97)

Skipping line 266839: Expected 97 fields in line 266839, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 457189: Expected 97 fields in line 457189, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

157 2018_3_USA_Consumer_SF_OR_2.csv (499997, 97)
158 2018_3_USA_Consumer_SF_OR_3.csv (109393, 97)

Skipping line 366425: Expected 97 fields in line 366425, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

159 2018_3_USA_Consumer_SF_PA_0.csv (499998, 97)

Skipping line 184996: Expected 97 fields in line 184996, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

160 2018_3_USA_Consumer_SF_PA_1.csv (499998, 97)
161 2018_3_USA_Consumer_SF_PA_11.csv (499999, 97)

Skipping line 308651: Expected 97 fields in line 308651, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 467544: Expected 97 fields in line 467544, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

162 2018_3_USA_Consumer_SF_PA_2.csv (499997, 97)

Skipping line 192287: Expected 97 fields in line 192287, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

163 2018_3_USA_Consumer_SF_PA_3.csv (499998, 97)
164 2018_3_USA_Consumer_SF_PA_4.csv (499999, 97)
165 2018_3_USA_Consumer_SF_PA_7.csv (499999, 97)
166 2018_3_USA_Consumer_SF_PA_8.csv (499999, 97)
167 2018_3_USA_Consumer_SF_RI_0.csv (499999, 97)
168 2018_3_USA_Consumer_SF_RI_1.csv (51144, 97)
169 2018_3_USA_Consumer_SF_SC_0.csv (499999, 97)

Skipping line 117582: Expected 97 fields in line 117582, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

170 2018_3_USA_Consumer_SF_SC_2.csv (499998, 97)
171 2018_3_USA_Consumer_SF_SC_3.csv (499999, 97)
172 2018_3_USA_Consumer_SF_SC_4.csv (288419, 97)
173 2018_3_USA_Consumer_SF_SD_0.csv (378255, 97)
174 2018_3_USA_Consumer_SF_TN_0.csv (499999, 97)

Skipping line 338617: Expected 97 fields in line 338617, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

175 2018_3_USA_Consumer_SF_TN_1.csv (499998, 97)

Skipping line 107112: Expected 97 fields in line 107112, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

176 2018_3_USA_Consumer_SF_TN_3.csv (499998, 97)

Skipping line 244357: Expected 97 fields in line 244357, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

177 2018_3_USA_Consumer_SF_TN_4.csv (499998, 97)
178 2018_3_USA_Consumer_SF_TN_5.csv (499999, 97)

Skipping line 396197: Expected 97 fields in line 396197, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

179 2018_3_USA_Consumer_SF_TX_0.csv (499998, 97)
180 2018_3_USA_Consumer_SF_TX_1.csv (499999, 97)
181 2018_3_USA_Consumer_SF_TX_11.csv (499999, 97)

Skipping line 308023: Expected 97 fields in line 308023, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 486088: Expected 97 fields in line 486088, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

182 2018_3_USA_Consumer_SF_TX_12.csv (499997, 97)

Skipping line 20717: Expected 97 fields in line 20717, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

183 2018_3_USA_Consumer_SF_TX_14.csv (499998, 97)

Skipping line 44410: Expected 97 fields in line 44410, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

184 2018_3_USA_Consumer_SF_TX_15.csv (499998, 97)
185 2018_3_USA_Consumer_SF_TX_16.csv (499999, 97)

Skipping line 375717: Expected 97 fields in line 375717, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 391290: Expected 97 fields in line 391290, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

186 2018_3_USA_Consumer_SF_TX_18.csv (499997, 97)

Skipping line 49548: Expected 97 fields in line 49548, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 132549: Expected 97 fields in line 132549, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 225445: Expected 97 fields in line 225445, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.
Skipping line 235198: Expected 97 fields in line 235198, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

187 2018_3_USA_Consumer_SF_TX_19.csv (499995, 97)

Skipping line 273377: Expected 97 fields in line 273377, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

188 2018_3_USA_Consumer_SF_TX_20.csv (499998, 97)

Skipping line 494833: Expected 97 fields in line 494833, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

189 2018_3_USA_Consumer_SF_TX_21.csv (499998, 97)
190 2018_3_USA_Consumer_SF_TX_22.csv (141257, 97)

Skipping line 155220: Expected 97 fields in line 155220, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

191 2018_3_USA_Consumer_SF_TX_3.csv (499998, 97)
192 2018_3_USA_Consumer_SF_TX_5.csv (499999, 97)
193 2018_3_USA_Consumer_SF_TX_7.csv (499999, 97)
194 2018_3_USA_Consumer_SF_TX_9.csv (499999, 97)
195 2018_3_USA_Consumer_SF_UT_0.csv (499999, 97)
196 2018_3_USA_Consumer_SF_UT_2.csv (145287, 97)

Skipping line 376656: Expected 97 fields in line 376656, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

197 2018_3_USA_Consumer_SF_VA_1.csv (499998, 97)
198 2018_3_USA_Consumer_SF_VA_2.csv (499999, 97)

Skipping line 273470: Expected 97 fields in line 273470, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

199 2018_3_USA_Consumer_SF_VA_4.csv (499998, 97)

Skipping line 251065: Expected 97 fields in line 251065, saw 98. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

200 2018_3_USA_Consumer_SF_VA_5.csv (499998, 97)
201 2018_3_USA_Consumer_SF_VI_0.csv (55, 97)
202 2018_3_USA_Consumer_SF_VT_0.csv (297238, 97)
203 2018_3_USA_Consumer_SF_WA_2.csv (499999, 97)
204 2018_3_USA_Consumer_SF_WA_3.csv (499999, 97)
205 2018_3_USA_Consumer_SF_WA_4.csv (499999, 97)
206 2018_3_USA_Consumer_SF_WA_5.csv (326592, 97)
207 2018_3_USA_Consumer_SF_WI_1.csv (499999, 97)
208 2018_3_USA_Consumer_SF_WI_3.csv (499999, 97)
209 2018_3_USA_Consumer_SF_WI_4.csv (499999, 97)
210 2018_3_USA_Consumer_SF_WI_5.csv (305440, 97)

Skipping line 114189: Expected 97 fields in line 114189, saw 99. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

211 2018_3_USA_Consumer_SF_WY_0.csv (214620, 97)

In [24]:
df2 = pd.read_csv(r'Z:\AIDAILER\2018.3\2018_3_USA_Consumer_SF_AZ_1.csv')

ParserError: Error tokenizing data. C error: EOF inside string starting at row 1263

In [ ]:
# ParserError: Error tokenizing data. C error: EOF inside string starting at row 1263

In [21]:
import csv

In [22]:
new_df = pd.read_csv(r'Z:\AIDAILER\2018.3\2018_3_USA_Consumer_SF_AZ_1.csv', quoting=csv.QUOTE_NONE)

In [23]:
new_df

,"""personfirstname""","""personmiddleinitial""","""personlastname""","""persontitleofrespect""","""streetname""","""streetsuffix""","""primaryaddress""","""secondaryaddress""","""state""","""ZipCode""",...,"""VeteransCharitableDonation""","""CharitableDonations_Other""","""homeswimmingpoolindicator""","""airconditioning""","""homeheatindicator""","""DONOTCALL""","""DONOTCALLUpdate""","""Name""","""UPDATE_SOURCE""","""Email"""
0,"""SUSAN""","""M""","""JOHNSON""","""MS""","""Southern""","""Ave""","""7110 E Southern Ave""","""""","""AZ""","""85209""",...,"""U""","""U""","""U""","""U""","""U""","""True""","""08/27/2017""","""SUSAN M JOHNSON""","""""",""""""
1,"""DAVID""","""K""","""BURROWES""","""MR""","""Los Alamos""","""St""","""2551 E Los Alamos St""","""""","""AZ""","""85295""",...,"""U""","""U""","""Y""","""F""","""U""","""True""","""08/27/2017""","""DAVID K BURROWES""","""""",""""""
2,"""EVELYN""","""E""","""WILSON""","""MS""","""PO Box""","""""","""PO Box 1986""","""""","""AZ""","""85346""",...,"""U""","""U""","""U""","""U""","""U""","""False""","""08/27/2017""","""EVELYN E WILSON""","""""",""""""
3,"""FRANCISCO""","""""","""PLAZA""","""MR""","""Reade""","""Ave""","""10322 W Reade Ave""","""""","""AZ""","""85307""",...,"""U""","""U""","""U""","""F""","""U""","""False""","""08/27/2017""","""FRANCISCO PLAZA""","""""",""""""
4,"""MAYELA""","""""","""TRAHIN""","""MS""","""Melody""","""Dr""","""2416 W Melody Dr""","""""","""AZ""","""85041""",...,"""U""","""U""","""U""","""F""","""U""","""True""","""08/27/2017""","""MAYELA TRAHIN""","""""",""""""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1258,"""ROLAND""","""""","""ALLEN""","""MR""","""Cottonwood""","""Rd""","""1171 E Cottonwood Rd""","""""","""AZ""","""85140""",...,"""U""","""U""","""U""","""A""","""U""","""True""","""08/27/2017""","""ROLAND ALLEN""","""""",""""""
1259,"""STACEY""","""""","""HOLT""","""""","""Falcon""","""Trl""","""33036 N Falcon Trl""","""""","""AZ""","""85142""",...,"""U""","""U""","""U""","""A""","""U""","""True""","""08/27/2017""","""STACEY HOLT""","""""",""""""
1260,"""CHRISTINA""","""""","""HOLLAND""","""MS""","""Mingus""","""Pl""","""5354 S Mingus Pl""","""""","""AZ""","""85249""",...,"""U""","""U""","""Y""","""F""","""U""","""True""","""08/27/2017""","""CHRISTINA HOLLAND""","""""","""holland4228@msn.com"""
1261,"""ANJA""","""M""","""SCHARBER""","""MS""","""Rawhide""","""St""","""3866 E Rawhide St""","""""","""AZ""","""85296""",...,"""U""","""U""","""U""","""F""","""U""","""True""","""08/27/2017""","""ANJA M SCHARBER""","""""",""""""
1262,"""ESTHER""","""""","""QUIROZ""","""MS""","""Amber""","""Ln""","""3892 E Amber Ln""","""""","""AZ""","""85296""",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
11502/499999

0.023004046008092017

# 2018 - 2021 Columns Selection

In [1]:
import pandas as pd
import numpy as np
import os

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
df_18 = pd.read_csv(r"Z:\AIDAILER\2018.3\2018_3_USA_Consumer_SF_CA_5.csv",error_bad_lines=False, engine="python")

In [2]:
# CA 
df_21 = pd.read_csv(r"Z:\AIDAILER\Tony DB 2021\CA .csv")

In [15]:
# list_18 = []
c = 1

for i in range(len(df_18.columns)):
    print(c, df_18.columns[i])
    c+=1

1 personfirstname
2 personmiddleinitial
3 personlastname
4 persontitleofrespect
5 streetname
6 streetsuffix
7 primaryaddress
8 secondaryaddress
9 state
10 ZipCode
11 Zip_4
12 msa
13 countycode
14 countyname
15 citynameabbr
16 cityname
17 carrier_route
18 latitude
19 longitude
20 timezone
21 dwellingtype
22 livingunitid
23 AreaCode
24 Phone
25 FullPhoneNumber
26 MobilePhoneNumber
27 MobilePhoneUpdate
28 estimatedincomecode
29 homeownerprobabilitymodel
30 numberofpersonsinlivingunit
31 presenceofchildren
32 persongender
33 persondateofbirthyear
34 persondateofbirthmonth
35 persondateofbirthday
36 personexactage
37 personmaritalstatus
38 occupationgroup
39 personoccupation
40 ethniccode
41 languagecode
42 ethnicgroup
43 religioncode
44 hispaniccountrycode
45 personeducation
46 businessowner
47 NumberOfAdults
48 PresenceOfCreditCard
49 PresenceOfBankCard
50 GasDeptRetailCardHolder
51 CreditRating
52 investment
53 investmentstocksecurities
54 Networth
55 NumberOfLinesOfCredit
56 Credit_RangeOfNewCredit
57 Investing_Active
58 InvestmentsPersonal
59 InvestmentsRealEstate
60 InvestingFinanceGrouping
61 InvestmentsForeign
62 InvestmentEstimatedResidentialPropertiesOwned
63 AssimilationCodes
64 traveler
65 pets
66 cats
67 dogs
68 mailresponder
69 sweepstakes
70 religiouscontributor
71 politicalcontributor
72 health_institutioncontributor
73 charitable
74 generalcontributor
75 donatestoenvironmentalcauses
76 donatesbymail
77 veteraninhousehold
78 HeavyBusinessTravelers
79 hightechleader
80 Smoker
81 MailOrderBuyer
82 OnlinePurchasingIndicator
83 EnvironmentalIssuesCharitableDonation
84 InternationalAidCharitableDonation
85 PoliticalCharitableDonation
86 PoliticalConservativeCharitableDonation
87 PoliticalLiberalCharitableDonation
88 VeteransCharitableDonation
89 CharitableDonations_Other
90 homeswimmingpoolindicator
91 airconditioning
92 homeheatindicator
93 DONOTCALL
94 DONOTCALLUpdate
95 Name
96 UPDATE_SOURCE
97 Email

In [16]:
c = 1

for i in range(len(df_21.columns)):
    print(c, df_21.columns[i])
    c+=1

1 Phone Cleaned
2 FullPhoneNumber
3 personfirstname
4 personmiddleinitial
5 personlastname
6 primaryaddress
7 secondaryaddress
8 cityname
9 state
10 ZipCode
11 persondateofbirthmonth
12 persondateofbirthday
13 persondateofbirthyear
14 personexactage
15 IsMobile
16 estimatedincomecode
17 CreditRating
18 NumberOfLinesOfCredit
19 Credit_RangeOfNewCredit
20 homeownerprobabilitymodel
21 Disconnected
22 National DNC
23 Internal DNC
24 Cellphone
25 Litigator

In [5]:
df_21.columns

Index(['Phone Cleaned', 'FullPhoneNumber', 'personfirstname',
       'personmiddleinitial', 'personlastname', 'primaryaddress',
       'secondaryaddress', 'cityname', 'state', 'ZipCode',
       'persondateofbirthmonth', 'persondateofbirthday',
       'persondateofbirthyear', 'personexactage', 'IsMobile',
       'estimatedincomecode', 'CreditRating', 'NumberOfLinesOfCredit',
       'Credit_RangeOfNewCredit', 'homeownerprobabilitymodel', 'Disconnected',
       'National DNC', 'Internal DNC', 'Cellphone', 'Litigator'],
      dtype='object')

In [7]:
df_18.head()

,personfirstname,personmiddleinitial,personlastname,persontitleofrespect,streetname,streetsuffix,primaryaddress,secondaryaddress,state,ZipCode,Zip_4,msa,countycode,countyname,citynameabbr,cityname,carrier_route,latitude,longitude,timezone,dwellingtype,livingunitid,AreaCode,Phone,FullPhoneNumber,MobilePhoneNumber,MobilePhoneUpdate,estimatedincomecode,homeownerprobabilitymodel,numberofpersonsinlivingunit,presenceofchildren,persongender,persondateofbirthyear,persondateofbirthmonth,persondateofbirthday,personexactage,personmaritalstatus,occupationgroup,personoccupation,ethniccode,languagecode,ethnicgroup,religioncode,hispaniccountrycode,personeducation,businessowner,NumberOfAdults,PresenceOfCreditCard,PresenceOfBankCard,GasDeptRetailCardHolder,CreditRating,investment,investmentstocksecurities,Networth,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,Investing_Active,InvestmentsPersonal,InvestmentsRealEstate,InvestingFinanceGrouping,InvestmentsForeign,InvestmentEstimatedResidentialPropertiesOwned,AssimilationCodes,traveler,pets,cats,dogs,mailresponder,sweepstakes,religiouscontributor,politicalcontributor,health_institutioncontributor,charitable,generalcontributor,donatestoenvironmentalcauses,donatesbymail,veteraninhousehold,HeavyBusinessTravelers,hightechleader,Smoker,MailOrderBuyer,OnlinePurchasingIndicator,EnvironmentalIssuesCharitableDonation,InternationalAidCharitableDonation,PoliticalCharitableDonation,PoliticalConservativeCharitableDonation,PoliticalLiberalCharitableDonation,VeteransCharitableDonation,CharitableDonations_Other,homeswimmingpoolindicator,airconditioning,homeheatindicator,DONOTCALL,DONOTCALLUpdate,Name,UPDATE_SOURCE,Email
0,DAREN,S,BRIGGS,MR,Dewcrest,Ct,3759 Dewcrest Ct,NaN,CA,91710,2011.0,6780,71,San Bernardino,Chino,Chino,C007,34.0383,-117.723,P,S,1.367347e+09,909.0,5487852,9095487852,9.519039e+09,8/10/2017,N,H,6,Y,M,1963,12,29,55,M,B,M698,N6,E1,W,P,0,B,U,2,Y,Y,Y,D,Y,U,G,1,3,U,Y,U,Y,U,U,U,Y,U,U,Y,Y,U,U,Y,U,Y,U,U,U,U,NaN,U,U,Y,U,U,U,Y,U,U,U,U,Y,F,P,False,8/27/2017,DAREN S BRIGGS,NaN,NaN
1,AMBER,NaN,BOWERS,MS,Inyo,Pl,12221 Inyo Pl,NaN,CA,91710,2015.0,6780,71,San Bernardino,Chino,Chino,C025,34.0312,-117.721,P,S,1.548606e+09,909.0,5900653,9095900653,NaN,8/10/2017,L,H,5,Y,F,1991,8,12,27,S,Z,0,T3,E1,W,P,0,U,U,4,Y,Y,Y,C,Y,U,G,2,U,Y,U,U,Y,U,U,U,U,U,U,U,Y,U,U,Y,U,Y,U,U,U,U,NaN,U,U,Y,U,U,U,Y,U,U,U,U,Y,F,P,True,8/27/2017,AMBER BOWERS,NaN,amberelysebowers@gmail.com
2,LELA,D,VOTAW,MS,Kern,Rd,3740 Kern Rd,NaN,CA,91710,2016.0,6780,71,San Bernardino,Chino,Chino,C025,34.0271,-117.723,P,S,1.194481e+09,909.0,3549812,9093549812,9.093550e+09,8/10/2017,C,H,4,Y,F,1952,9,29,66,A,B,M698,U9,E1,E,C,0,A,U,3,Y,Y,Y,F,Y,U,G,2,5,U,Y,U,Y,U,U,U,Y,U,U,U,Y,U,U,Y,U,Y,U,U,U,U,NaN,U,U,Y,Y,U,U,Y,U,U,U,U,U,F,P,False,8/27/2017,LELA D VOTAW,NaN,NaN
3,BRIDGETTE,NaN,VOTAW,MS,Kern,Rd,3740 Kern Rd,NaN,CA,91710,2016.0,6780,71,San Bernardino,Chino,Chino,C025,34.0271,-117.723,P,S,1.367347e+09,909.0,3549812,9093549812,NaN,8/10/2017,C,H,4,Y,F,1981,6,0,37,A,Z,0,U9,E1,E,C,0,U,U,3,Y,Y,Y,F,Y,U,G,2,5,U,Y,U,Y,U,U,U,Y,U,U,U,Y,U,U,Y,U,Y,U,U,U,U,NaN,U,U,Y,Y,U,U,Y,U,U,U,U,U,F,P,False,8/27/2017,BRIDGETTE VOTAW,NaN,NaN
4,GUADALUPE,NaN,GUZMAN,MS,Kern,Rd,3725 Kern Rd,NaN,CA,91710,2017.0,6780,71,San Bernardino,Chino,Chino,C025,34.0274,-117.723,P,S,1.194481e+09,909.0,6157145,9096157145,3.052407e+09,8/10/2017,L,H,8,Y,F,1977,10,19,41,M,C,W533,T9,S8,Y,C,HM,B,U,4,Y,Y,Y,F,Y,U,G,2,2,U,U,U,Y,U,U,D,U,U,U,U,Y,U,U,U,U,U,U,U,U,U,NaN,U,U,Y,U,U,U,U,U,U,U,U,Y,F,P,False,8/27/2017,GUADALUPE GUZMAN,NaN,guadalupeg36@yahoo.com

In [8]:
df_21.head()

,Phone Cleaned,FullPhoneNumber,personfirstname,personmiddleinitial,personlastname,primaryaddress,secondaryaddress,cityname,state,ZipCode,persondateofbirthmonth,persondateofbirthday,persondateofbirthyear,personexactage,IsMobile,estimatedincomecode,CreditRating,NumberOfLinesOfCredit,Credit_RangeOfNewCredit,homeownerprobabilitymodel,Disconnected,National DNC,Internal DNC,Cellphone,Litigator
0,8089224871,8089224871,SHARON,K,FARIS,2600 Pualani Way,Apt 2302,Honolulu,HI,96815,11,2,1943,77,F,M,B,1,U,H,N,Y,N,N,N
1,8087801951,8087801951,MICHAEL,NaN,ELM,7305 Nuulolo St,NaN,Honolulu,HI,96825,8,0,1978,42,T,S,C,2,4,H,N,N,N,Y,N
2,8087720818,8087720818,HUI,Y,LIANG,469 Ena Rd,Apt 2910,Honolulu,HI,96815,11,0,1961,59,T,O,B,U,U,H,N,N,N,Y,N
3,8087720818,8087720818,YAN,NaN,LIANG,469 Ena Rd,Apt 2910,Honolulu,HI,96815,0,0,1958,62,T,O,B,U,U,H,N,N,N,Y,N
4,8088391242,8088391242,ALFRED,NaN,BONGA,1544 Onipaa St,NaN,Honolulu,HI,96819,0,0,1943,77,F,A,A,U,U,H,N,Y,N,N,N

# checking data types of 2021 and 2018

In [3]:
type(df_21['FullPhoneNumber'][0])

numpy.int64

In [8]:
df_18['FullPhoneNumber'].value_counts()

7147264731    4
9252068447    3
6263387852    3
7605860973    3
9096087424    3
             ..
7146094298    1
5309419257    1
6194265632    1
8059344591    1
5597320628    1
Name: FullPhoneNumber, Length: 430710, dtype: int64

In [5]:
len(df_21['FullPhoneNumber'].unique())

118227

In [6]:
df_21['FullPhoneNumber'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
185649    False
185650    False
185651    False
185652    False
185653    False
Name: FullPhoneNumber, Length: 185654, dtype: bool

In [3]:
import pandas as pd

In [23]:
df2 = pd.read_csv('for_tune_rasa1.csv')

In [12]:
df1

                                                 keyword    intent
0                                            who is this      name
1                                          a credit card  positive
2          a debt relief what are you talking about debt     about
3                                            a great day  positive
4                                                a hello  positive
...                                                  ...       ...
89328  zero eight seven six five one three eight five...  negative
89329         zero eight seven two zero six seven is not  negative
89330                   zero eight seven zero six is now  negative
89331            zero eight six five two five two is not  negative
89332  zero eight six four one four nine seven is number  negative

[89333 rows x 2 columns]

In [6]:
for i in range(len(df1['keyword'])):
    string = df['keyword'][i]
    test_list = string.split()
    res = [i[0] for i in groupby(test_list)]
    joined = ' '.join(res)
    df1['keyword'][i] = joined

In [7]:
df1

                                                  keyword    intent
0                                             who is this      name
1       a brief message and ill get back to you as soo...  callback
2       a brief message i will get back to you as soon...  callback
3       a brief message please make sure that you spea...  negative
4                                           a credit card  positive
...                                                   ...       ...
107011                        zero eight six four is nine  negative
107012  zero eight six four one four nine seven is number  negative
107013  zero eight six if youd like to leave us a message  negative
107014                                zero eight thirteen  negative
107015                                   zero eight three  negative

[107016 rows x 2 columns]

In [13]:
data1 = df1[~df1['keyword'].str.contains('after the bee| oo | o o | press | e o | e e |record your message|finished recording|voicemail|for more option|get back to you|thank you for calling|mailbox| o a|zero eight six cant take your call now|zero eight six eight|zero eight six eight is not available please leave a voice mail after the beep|e hello| o a |schedule an appointment|for quality assurance|a representative will|monitored and recorded|all of our customer service representatives|were not available now|able to take|able to answer|able to accept|able phone right now|able take call|able take your call|able take a call|able take the call|able answer to|were not available now|able to take|able to answer|able to accept|able phone right now|able take call|able take your call|able take a call|able take the call|able answer to|rerecord your|leave a message|may hang up|leaving a message|a voice message|voice mail box|mailbox|a text message |a short message|a private|a mail|please leave your name|operator mailbox|a message|brief message|detailed message|rerecord your|leave a message|may hang up|leaving a message|a voice message|voice mail box|mailbox|a text message |a short message|a private|a mail|please leave your name|operator mailbox|a message|brief message|detailed message|after the beep|AFTER the tone|AT the tone|after recording|after ring|press one|press star|press a key|press two|please dial|after the bee|o oe|e arat  an at a|were o e it a o he ha  he he|e hop e col a a i go|a a a a a data a a e|a os it|melikaliki make|all of our agents |all operators|all agents are| oo | e o |record your message|voice mail| e e |zero eight six five two two five two is not|zero eight six four is nine|zero eight six four one four nine seven seven is number|zero eight six if youd like to leave us a message|zero eight thirteen|zero eight three| t | i i |press |press zero|press one|press two|press three| o o | o a | oo |after the bee| press| e o |record your message|voice mail| e e | schedule an appointment|for quality assurance|a representative will|monitored and recorded|all of our customer service representatives|all of our agents |all operators|all agents are')]
data1

                                                 keyword    intent
0                                            who is this      name
1                                          a credit card  positive
2          a debt relief what are you talking about debt     about
3                                            a great day  positive
4                                                a hello  positive
...                                                  ...       ...
89328  zero eight seven six five one three eight five...  negative
89329         zero eight seven two zero six seven is not  negative
89330                   zero eight seven zero six is now  negative
89331            zero eight six five two five two is not  negative
89332  zero eight six four one four nine seven is number  negative

[89333 rows x 2 columns]

In [20]:
new_data = df1[~df1['keyword'].str.contains('automatic voice message| a s l|a c | o o | o a | oo |be on e book|r o to like the canidarcicardoplet no so because i dont even own a critic calf|we have sol|o otis himselfommhm|hullo pp ll soon her|tax  intra marshal o|o er|an ho i|te a  o  e|myxo|eye e i   o one|a e a|a oe o|i  i of|tflargo one|heheeehaea  h he|o e am er|to was e me anon o i|memerypor|you rigor|aputaport|o o  wa|a a  e e|oh law olga|it co be|o e are|like ta de e|a e an at tat at em e en e an an an a ana aaaaa|r you from up alabama where you from am|he te|ammonia and into e|al mo|aaaaa a a an a aanaaaaaaa aaaaa aaaaa aaaaaaa|o o  to|ookaod|youame|i  i cannot ta i talk about anyciseo i|i it a a i|at he the  he|a  a|m bolivia no|in cooee|and a  mo|e o o|o m|im tu| no may|head      e|te face|o  o  he|co he at due for a ta|oh el|o o speak|o you give oo|what is it al|i  of|wa her|a he|i le to or|a e a  on    a he the|who s i|d to want er|he     e a|e  a  o e|yea allah|pe e|e a a e|e  e te a|a te| e to |e   o the|e   oh o he|eaatae o o|a de ye dan at|an e ad is a can i|o de ye do da|be a c|o ole|oo   o|mennuten efalifo makaham te done|ossea|oo   o he|ape i|a o|oo  oeoethe|a    a|o  o of|to o e| si | i a | d |melikaliki make|git te pas')]
new_data

                                                 keyword    intent
0                                            who is this      name
1                                          a credit card  positive
2          a debt relief what are you talking about debt     about
3                                            a great day  positive
5                                                    a j    IGNORE
...                                                  ...       ...
89328  zero eight seven six five one three eight five...  negative
89329         zero eight seven two zero six seven is not  negative
89330                   zero eight seven zero six is now  negative
89331            zero eight six five two five two is not  negative
89332  zero eight six four one four nine seven is number  negative

[86228 rows x 2 columns]

In [21]:
new_data.to_csv('for_tune_rasa2.csv')

In [17]:
data1

Empty DataFrame
Columns: [keyword, intent]
Index: []

In [18]:
df1

                                                 keyword    intent
0                                            who is this      name
1                                          a credit card  positive
2          a debt relief what are you talking about debt     about
3                                            a great day  positive
4                                                a hello  positive
...                                                  ...       ...
89328  zero eight seven six five one three eight five...  negative
89329         zero eight seven two zero six seven is not  negative
89330                   zero eight seven zero six is now  negative
89331            zero eight six five two five two is not  negative
89332  zero eight six four one four nine seven is number  negative

[89333 rows x 2 columns]

In [22]:
new_data2 = df1[~df1['keyword'].str.contains('after the|automatic voice message| a s l|a c | o o | o a | oo |be on e book|r o to like the canidarcicardoplet no so because i dont even own a critic calf|we have sol|o otis himselfommhm|hullo pp ll soon her|tax  intra marshal o|o er|an ho i|te a  o  e|myxo|eye e i   o one|a e a|a oe o|i  i of|tflargo one|heheeehaea  h he|o e am er|to was e me anon o i|memerypor|you rigor|aputaport|o o  wa|a a  e e|oh law olga|it co be|o e are|like ta de e|a e an at tat at em e en e an an an a ana aaaaa|r you from up alabama where you from am|he te|ammonia and into e|al mo|aaaaa a a an a aanaaaaaaa aaaaa aaaaa aaaaaaa|o o  to|ookaod|youame|i  i cannot ta i talk about anyciseo i|i it a a i|at he the  he|a  a|m bolivia no|in cooee|and a  mo|e o o|o m|im tu| no may|head      e|te face|o  o  he|co he at due for a ta|oh el|o o speak|o you give oo|what is it al|i  of|wa her|a he|i le to or|a e a  on    a he the|who s i|d to want er|he     e a|e  a  o e|yea allah|pe e|e a a e|e  e te a|a te| e to |e   o the|e   oh o he|eaatae o o|a de ye dan at|an e ad is a can i|o de ye do da|be a c|o ole|oo   o|mennuten efalifo makaham te done|ossea|oo   o he|ape i|a o|oo  oeoethe|a    a|o  o of|to o e| si | i a | d |melikaliki make|git te pas')]
new_data2

                                                 keyword    intent
0                                            who is this      name
1                                          a credit card  positive
2          a debt relief what are you talking about debt     about
3                                            a great day  positive
5                                                    a j    IGNORE
...                                                  ...       ...
89328  zero eight seven six five one three eight five...  negative
89329         zero eight seven two zero six seven is not  negative
89330                   zero eight seven zero six is now  negative
89331            zero eight six five two five two is not  negative
89332  zero eight six four one four nine seven is number  negative

[85879 rows x 2 columns]

In [25]:
df3 = pd.read_csv('for_tune_rasa2.csv')

In [26]:
df3

                                                 keyword    intent
0                                            who is this      name
1                                          a credit card  positive
2          a debt relief what are you talking about debt     about
3                                            a great day  positive
4                                     a little moment in  negative
...                                                  ...       ...
27959                         hello i had a another a uv    IGNORE
27960                      hello i hand transfer are you    IGNORE
27961                                       hello i have    IGNORE
27962                         hello i have a credit card      info
27963  hello i have a credit card debt before i can t...    IGNORE

[27964 rows x 2 columns]