In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("test_4.csv")

print(df)

                                      text     intent
0                               itll be me   negative
1                 call twenty fifteen okay   negative
2                     the good you do that   negative
3                             it after the     IGNORE
4                          but if you like   negative
...                                    ...        ...
8120                 no im bust for my ass   negative
8121                 no i dont not in debt   negative
8122                  to talk a payday day  recording
8123           thank you very much goodbye   negative
8124  that i dont know what youre speaking   negative

[8125 rows x 2 columns]

In [6]:
# drop all rows with any NaN and NaT values
df1 = df.dropna(axis=0, how="any", thresh=None, subset=None, inplace=False)

In [7]:
df1

                                      text     intent
0                               itll be me   negative
1                 call twenty fifteen okay   negative
2                     the good you do that   negative
3                             it after the     IGNORE
4                          but if you like   negative
...                                    ...        ...
8120                 no im bust for my ass   negative
8121                 no i dont not in debt   negative
8122                  to talk a payday day  recording
8123           thank you very much goodbye   negative
8124  that i dont know what youre speaking   negative

[8111 rows x 2 columns]